<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_newletter_div">
                    <span class="text-white">Our Newsletter</span>
                    <h2 class="ct_fs_46 text-white mb-4">Sign Up Now To Receive 5% Off On Order.</h2>
                    <p class="mb-0 text-white">Sollicitudin tempor id eu nisl nunc. Non curabitur gravida arcu ac tortor
                        dignissim <br>
                        convallis. Suspendisse sed nisi lacus sed viverra tellus habitasse.</p>
                    <div class="ct_newletter_main mt-4">
                        <input type="email" placeholder="Enter Your Email ID" class="form-control ct_newsletter_input">
                        <button class="ct_orange_btn ct_ff_Rowdies">Get Started <img src="assets/img/right_arrow.svg"
                                alt="" /></button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-xl-5 mb-4 mb-xl-0">
                <div class="ct_footer_info">
                    <div class="ct_footer_logo">
                        <a href="index.html">
                            <img src="assets/img/footer_logo.svg" alt="">
                        </a>
                    </div>
                    <p class="text-white mt-4">We provide Academic, Islamic Studies, <br> Quran, Arabic, STEAM,
                        
                        and more.</p>
                    <div>
                        <h4 class="ct_fs_24 ct_fw_600 text-start text-white">Social Media</h4>
                        <div class="ct_top_bar_right mt-4">
                            <ul class="justify-content-start ct_footer_social_media">
                                <li>
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 mb-4 mb-xl-0">
                <div class="ct_footer_get_in_touch">
                    <h4 class="ct_fs_24 ct_fw_600 text-white">Get In Touch</h4>
                    <p class="text-white mt-4 pt-1">Philadelphia, Pennsylvania <br>
                        Los Angeles, California
                        </p>
                    <ul class="mt-4">
                        <li>
                            <span class="text-white">Call Us :</span> <a href="tel:+1(610)9771700">(610)977-1700</a>
                        </li>
                        <li>
                            <span class="text-white">E-Mail :</span> <a
                                href="mailto:info@tiaglobal.org">info&#64;tiaglobal.org</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 mb-4 mb-xl-0">
                <div class="ct_footer_link">
                    <h4 class="ct_fs_24 ct_fw_600 text-white">Quick Links</h4>
                    <ul class="mt-4 pt-1">
                        <li><a routerLink="/faq">FAQ’s</a></li>
                        <li><a routerLink="/employment">Employment</a></li>
                        <li><a routerLink="/privacy_policy">Privacy Policy</a></li>
                        <li><a routerLink="/tech_support">Tech Support</a></li>
                        <li><a routerLink="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="ct_footer_emoji">
                    <img src="assets/img/sunflower.png" alt="">
                    <img src="assets/img/dots.png" alt="">
                    <img src="assets/img/musroom.png" alt="">
                </div>
            </div>

        </div>

    </div>
    <div class="ct_bottom_footer">
        <p class="mb-0 text-center">Copyright © 2024 <a routerLink="/" class="ct_fw_700 text-dark">Tarbiyatul Ilm
                Academy Global.</a> All Rights Reserved. </p>

    </div>
</footer>