<section class="ct_inner_bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12"  data-aos="fade-down"
        data-aos-duration="1000">
          <h2 class="ct_fs_60 text-white">
              Event Detail
          </h2>
        </div>
      </div>
    </div>
  </section>

 
  <section class="ct_vision_mission ct_admission_process_bg ">
    <div class="container-fluid ct_px_140">
      <div class="row mt-5">
        <div class="col-md-12"  data-aos="fade-down"
        data-aos-duration="1000">
         <div class="ct_event_dtl_main_box">
              <figure>
                  <div class="ct_event_dlt_img">
                      <img src="assets/img/event_dlt_main.png" alt="">
                  </div>
                  <figcaption>
                      <div class="d-flex align-items-center gap-2 ct_flex_column_1250">
                          <span class="ct_fw_600 text-white ct_fs_14">Start:</span>
                          <span class="text-white ct_fs_14 ct_fw_300">Feb 11 &#64; 6:00 am</span>
                      </div>
                      <div class="d-flex align-items-center gap-2 ct_flex_column_1250">
                          <span class="ct_fw_600 text-white ct_fs_14">End:</span>
                          <span class="text-white ct_fs_14 ct_fw_300">Feb 13 &#64; 8:00 pm</span>
                      </div>
                      <div class="d-flex align-items-center gap-2 ct_flex_column_1250">
                          <span class="ct_fw_600 text-white ct_fs_14">Cost:</span>
                          <span class="text-white ct_fs_14 ct_fw_300">⃁50</span>
                      </div>
                      <div class="d-flex align-items-center gap-2 ct_flex_column_1250">
                          <span class="ct_fw_600 text-white ct_fs_14">Event Category:</span>
                          <span class="text-white ct_fs_14 ct_fw_300">Child Education</span>
                      </div>
                      <div class="d-flex align-items-center gap-2 ct_flex_column_1250">
                          <span class="ct_fw_600 text-white ct_fs_14">Venue:</span>
                          <span class="text-white ct_fs_14 ct_fw_300">Community Service Event</span>
                      </div>
                  </figcaption>
              </figure>
         </div>
        </div>
      </div>
      <div class="row mt-4">
          <div class="col-md-12"  data-aos="fade-down"
          data-aos-duration="1000">
              <h2 class="ct_fs_46 ct_fw_600">Teacher vs. Student Day</h2>
          </div>
      </div>
      <div class="row mt-4">
          <div class="col-lg-6"  data-aos="fade-right"
          data-aos-duration="1000">
              <p>Sonean dapibus massa sed urna dictum, in ornare magna vestibulum. In sit amet iaculis ligula. Phasellus eu felis euismod,
                  suscipit sapien eu, consectetur orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat.</p>
              <div class="d-flex align-items-center flex-wrap justify-content-between gap-3 mb-3">
                  <div class="d-flex align-items-center gap-3">
                      <img src="assets/img/light_bulb.svg" alt="" class="ct_img_60">
                      <h6 class="mb-0 ct_fs_18">Amet Consectetur</h6>
                  </div>
                  <div class="d-flex align-items-center gap-3">
                      <img src="assets/img/doc.svg" alt="" class="ct_img_60">
                      <h6 class="mb-0 ct_fs_18">Sunt in culpa</h6>
                  </div>
                  <div class="d-flex align-items-center gap-3">
                      <img src="assets/img/faq.png" alt="" class="ct_img_60">
                      <h6 class="mb-0 ct_fs_18">Pellentesque Sitera</h6>
                  </div>
              </div>
              <p class="mb-0">Dapibus massa sed urna dictum, in ornare magna vestibulum. In sit amet iaculis ligula. Phasellus eu felis euismod, suscipit
                  sapien eu, consectetur orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat.</p>
          </div>
          <div class="col-lg-5 offset-lg-1"  data-aos="fade-left"
          data-aos-duration="1000">
              <ul class="ct_service_dtl_list">
                  <li>Vivamus nec venenatis est. Inelit lectubcbs, maximus egetenim idpharetra.</li>
                  <li>Phasellus facilisis ligula cquat ulies Praesent quis ipsum utlorem.</li>
                  <li>Aliqugdam vestibulum magna quis finibus voluestib vtem entum estibulum.</li>
                  <li>Sedin arcu eget ipsum erase nt non dignissim diam Donec rutrum .</li>
                  <li>Inelit lectubcbs ipsum irdiet erase nt non dignissim diam Donec rutrum .</li>
              </ul>
          </div>

      </div>

      <div class="row mt-4">
          <div class="col-lg-4 mb-3 mb-lg-0"  data-aos="fade-right"
          data-aos-duration="1000">
              <div class="ct_event_dtl_sub_img">
                  <img src="assets/img/muslim_girl.png" alt="">
              </div>
          </div>
          <div class="col-lg-8  mb-3 mb-lg-0"  data-aos="fade-left"
          data-aos-duration="1000">
              <div class="ct_event_dtl_sub_img">
                  <img src="assets/img/event_1.png" alt="">
              </div>
          </div>

      </div>

      <div class="row pt-5">
          <div class="col-md-12"  data-aos="fade-down"
          data-aos-duration="1000">
              <h2 class="ct_fs_46 ct_fw_600 mb-2">Vulputate Dignissim Suspend</h2>
              <p>
                  Phasellus quis mi lobortis risus placerat sagittis. Morbi eu ligula vulputate, dignissim leo sed, laoreet lorem. Morbi condimentum nisi elit, mattis euismod nulla condimentum sed. Morbi ultrices vehicula dapibus.
Proin imperdiet venenatis libero. Pellentesque sit amet aliquam nisl. Vestibulum at augue nec ligula cursus pharetra et id erat. Aenean nec nibh vel tellus commodo suscipit.
              </p>
              <div class="ct_grid_5 mt-4">
                  <div class="ct_brand_img">
                      <img src="assets/img/brand_1.png" alt="">
                  </div>
                  <div class="ct_brand_img">
                      <img src="assets/img/brand_2.png" alt="">
                  </div>
                  <div class="ct_brand_img">
                      <img src="assets/img/brand_3.png" alt="">
                  </div>
                  <div class="ct_brand_img">
                      <img src="assets/img/brand_4.png" alt="">
                  </div>
                  <div class="ct_brand_img">
                      <img src="assets/img/brand_5.png" alt="">
                  </div>
              </div>
              <div class="ct_yellow_card ct_mt_60 ct_after_img_none" style="background-color: #674FA3">
                  <p class="ct_fs_18 text-white mb-2">Pepibus massa sed urna dictum, in ornare magna vestibulum. In sit amet iaculis ligula. Phasellus eu felis euismod, suscipit sapien eu, consectetur orci. Interdum et malesuada
                      fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Aenean volutpat neque blandit efficitur pellentesque.</p>
                 <h6 class="ct_fs_18 ct_fw_600 text-white ct_ff_inter text-end mb-0">Durante Miriana - MD</h6>
               </div>
          </div>
          

      </div>
      <div class="ct_bottom_pagination">
          <a href="javascript:void(0)">
              <img src="assets/img/left_arrow.png" alt="" class="ct_img_18">
              <h6 class="ct_fs_18 mb-0">Not available to show!</h6>
              <img src="assets/img/not-avalabel_img.jpg" alt="" class="ct_img_119_75 ct_border_radius_50">
          </a>
          <a href="event-detail-2.html">
              <img src="assets/img/community_img.png" alt="" class="ct_img_119_75 ct_border_radius_50">
              <h6 class="ct_fs_18 mb-0">Community Get Together</h6>
              <img src="assets/img/right_arrow.svg" alt="" class="ct_img_18">
          </a>
      </div>
    </div>
  </section>