<app-header></app-header>

<div class="ct_vision_mission mt-5 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12"  data-aos="fade-down"
        data-aos-duration="1000">
          <span
            class="ct_orange_text ct_fw_600 text-center d-block mb-2 ct_fs_18"
            >RULES OF</span
          >
          <h2 class="ct_fs_46 ct_fw_600 text-center">Privacy Policy</h2>
        </div>
        <div class="col-md-10 mx-auto mt-4"  data-aos="fade-down"
        data-aos-duration="1000">
          <div class="ct_yellow_card  ct_after_img_none">
            <h4 class="ct_ff_inter text-white ct_fs_24 text-center mb-4 ct_fw_700">
              Tarbiyatul ilm Academy Global Privacy Policy
            </h4>
            <p class="text-white ct_fw_600 ct_fs_18">
              TIAG is a virtual school for grades Pre-K-4 th grade based in
              California, US. We are committed to protecting and respecting
              your privacy. Please read this Privacy Policy carefully and
              contact us if you have any questions.
            </p>
            <p class="text-white ct_fs_18 ct_fw_600 mb-0">
              What information do we collect?
            </p>
            <p class="text-white ct_fs_18 ct_fw_500">
              We may collect personal information from you when you:
            </p>
            <ul class="mb-4">
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — Register for an account on our website or enroll in our
                courses
              </li>
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — Provide feedback or participate in surveys, contests, or
                promotions
              </li>
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — Contact us via email, phone, or other means
              </li>
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — Use our website or services
              </li>
            </ul>
            <p class="text-white ct_fs_18 ct_fw_600 mb-4">
              The personal information we collect may include:
            </p>
            <ul class="mb-4">
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — Your name, email address, phone number, mailing address, and
                other contact details
              </li>
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — Your date of birth, gender, grade level, and other
                demographic information
              </li>
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — Your academic records, transcripts, test scores, and other
                educational information
              </li>
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — Your preferences, interests, feedback, and opinions
              </li>
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — Your IP address, browser type, device type, operating
                system, and other technical information
              </li>
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — Your browsing history, pages viewed, links clicked, and
                other usage data
              </li>
            </ul>
            <p class="text-white ct_fs_18 ct_fw_600 mb-0">
              How do we use your information?
            </p>
            <p class="text-white ct_fs_18 ct_fw_600 mb-4">
              We may use your personal information for various purposes, such
              as:
            </p>
            <ul class="mb-4">
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — To provide you with our website and services and to improve
                their quality and functionality
              </li>
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — To communicate with you about your account, courses,
                updates, offers, and newsletters
              </li>
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — To process your payments and transactions and to prevent
                fraud and abuse
              </li>
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — To personalize your experience and to tailor our content and
                advertising to your interests
              </li>
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — To conduct research and analysis and to measure our
                performance and effectiveness
              </li>
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                —To comply with our legal obligations and to protect our
                rights and interests
              </li>
            </ul>
            <p class="text-white ct_fs_18 ct_fw_600 mb-4">
              How do we share your information?
            </p>
            <ul class="mb-4">
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — To our teachers, staff and service providers who need access
                to personal information to perform their duties and
                responsibilities in relation to our Services.
              </li>
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — To third-party partners who provide educational content,
                tools, resources or services that are integrated with our
                Services or that we use to enhance our Services. These
                partners may have their own privacy policies that govern how
                they use personal information that we share with them.
              </li>
            </ul>
            <ul class="mb-4">
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                -- To other schools or educational institutions that you
                transfer to or enroll in after leaving TIAG. We may share your
                education records with these entities upon your request or
                with your parent/guardian's consent.
              </li>
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — To authorized representatives of federal or state agencies
                that have legal authority to access education records for
                audit, evaluation or enforcement purposes.
              </li>
              <li class="text-white mt-1 ct_fw_600 ct_fs_18">
                — TO other parties as required by law or court order or as
                necessary to protect the rights, property or safety of TIAG,
                our users or others.
              </li>
            </ul>
            <p class="mb-4 text-white ct_fw_600 ct_fs_18">
              We transfer personal information to various locations where we
              operate or where our service providers are located. Some of
              these locations may be outside of your state or country and may
              have different data protection laws than your jurisdiction. We
              take appropriate measures to ensure that personal information is
              transferred securely and in compliance with applicable laws.
              <br />
              We store personal information for as long as necessary to
              fulfill the purposes for which we collected it. We take
              reasonable steps to protect personal information from
              unauthorized access, use, disclosure, modification or
              destruction using physical, technical and administrative
              safeguards. We retain personal information for as long as
              necessary to fulfill the purposes for which we collected it or
              as required.. We take reasonable steps to delete or de-identify
              personal information when it is no longer needed.
            </p>
            <p class="mb-4 text-white ct_fw_600 ct_fs_18">
              No mobile information will be shared with third
              parties/affiliates for marketing/promotional purposes. All the
              above categories exclude text messaging originator opt-in data
              and consent; this information will not be shared with any third
              parties.
            </p>
            <p class="mb-4 text-white ct_fw_600 ct_fs_18">
              How do we protect your information? <br />
              We take reasonable measures to protect your personal information
              from unauthorized access, use, disclosure, alteration, or
              destruction. We use encryption technology to secure your data in
              transit and at rest. We limit access to your data to only those
              employees or agents who need it to perform their duties. We also
              educate our staff on data security best practices and policies.
              <br />
              However, no method of transmission or storage is completely
              secure and we cannot guarantee the absolute security of your
              information. You are responsible for maintaining the
              confidentiality of your account credentials and for notifying us
              immTIAGtely if you suspect any unauthorized activity on your
              account.
            </p>
            <p class="text-white ct_fw_600 ct_fs_18">
              How do we respect your choices? <br />We respect your choices
              regarding your personal information. You may:
            </p>
            <ul class="mb-4">
              <li class="text-white ct_fw_600 ct_fs_18 mt-0">
                — Access, update, correct, or delete your personal information
                by logging into your account or contacting us
              </li>
              <li class="text-white ct_fw_600 ct_fs_18 mt-0">
                — Opt out of receiving promotional emails from us by following
                the unsubscribe link in the email or contacting us
              </li>
              <li class="text-white ct_fw_600 ct_fs_18 mt-0">
                - Adjust your browser settings to block or delete cookies or
                other tracking technologies
              </li>
              <li class="text-white ct_fw_600 ct_fs_18 mt-0">
                — Contact us if you have any questions or concerns about this
                Privacy Policy or our privacy practices
              </li>
            </ul>
            <p class="text-white ct_fs_18 ct_fw_600 mb-4">
              How do we update this Privacy Policy?
            </p>
            <p class="mb-4 text-white ct_fw_600 ct_fs_18">
              We collect personal information from our users only for the
              purposes of providing and improving our online education
              services, such as registering for courses, accessing course
              materials, participating in online activities, communicating
              with instructors and peers, receiving feedback and support, and
              obtaining certificates of completion. We do not sell, rent or
              share our users' personal information with third parties for
              marketing or advertising purposes. <br> We use reasonable security
              measures to protect our users' personal information from
              unauthorized access, use, disclosure, or loss. We encrypt our
              users' data in transit and at rest, use secure servers and
              firewalls, limit access to authorized personnel only, and
              conduct regular security audits and reviews. We also require our
              users to create strong passwords and keep them confidential.
            </p>
            <p class="mb-4 text-white ct_fw_600 ct_fs_18">

              We respect our users' choices and rights regarding their personal information. We provide
              our users with access to their personal information and allow them to update, correct or
              delete it as needed. We also honor our users' requests to opt out of receiving promotional
              communications from us or to withdraw their consent to our collection and use of their
              personal information.</p>
              <p class="mb-4 text-white ct_fw_600 ct_fs_18">
                We may update this policy from time to time to reflect changes in our practices or in the
applicable laws and regulations. We wilt notify our users of any material changes by
posting a notice on our website or by sending an email to the address provided by the user.
We encourage our users to review this policy periodically to stay informed about how we
protect their personal information.
              </p>
              <p class="mb-0 text-white ct_fw_600 ct_fs_18">
                How do you contact us? <br>
If you have any questions or comments about this Privacy Policy or our privacy practices,
please contact us at: admission&#64;giaglobal.org
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>


   <!-- footer Section E -->
   <!-- <div class="ct_loader_main">
    <div class="loader"></div>
  </div> -->