<app-header></app-header>

<section class="ct_inner_bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12"  data-aos="fade-down"
        data-aos-duration="1000">
          <h2 class="ct_fs_60 text-white">Weekend Program</h2>
        </div>
      </div>
    </div>
  </section>
<div class="ct_vision_mission  ct_admission_process_bg pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12"  data-aos="fade-down"
            data-aos-duration="1000">
                <img src="assets/img/weekend_scgool_img344.png" alt="" class="w-100 ct_img_h_608 ct_radius_20">
                <h2 class="ct_fs_46 ct_fw_600   mt-5 mb-4">Weekend Program</h2>
            </div>
            <div class="col-md-12 mx-auto"  data-aos="fade-down"
            data-aos-duration="1000">
                <div class="ct_yellow_card  ct_after_img_none" style="background-color: #674FA3">
                <p class="mb-0 text-white">The TIAG Weekend School program of instruction reflects our commitment to a education by addressing and supporting the needs of the individual student. We will dedicate our time and skills to provide the students with a foundational knowledge of Secular and Islamic beliefs and practices. The Weekend School at TIAG is all about skilling and mentoring children to empower them to be the best.</p>
                </div>
                <div class="ct_yellow_card  ct_after_img_none mt-3" style="background-color: C5944B">
                  <p class="mb-0 text-white">
                    Here at TIAG Weekend School, we keep everyone’s convenience in mind and therefore offer two weekend sessions: one on Saturday and the other on Sunday. You may choose to enroll your child in either of the sessions, leaving one day of the weekend for the things that matter!

                  </p>
                   
                 </div>
                 <h5 class="ct_fs_30 text-center mb-0 mt-4">Both sessions operate between the hours of 9:00am and 2:00pm.
                </h5>
            </div>
           
            

        </div>

    </div>
</div>

<app-footer></app-footer>

  <!-- footer Section E -->
  <!-- <div class="ct_loader_main">
    <div class="loader"></div>
  </div> -->

