<app-header></app-header>

<section class="ct_inner_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12"  data-aos="fade-down"
            data-aos-duration="1000">
                <h2 class="ct_fs_60 text-white">Login</h2>
            </div>

        </div>

    </div>

</section>

<div class="ct_vision_mission ct_welcome_bg_star  ct_pt_120">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto"  data-aos="fade-down"
      data-aos-duration="1000">
        <div class="ct_white_card">
          <h2 class="ct_fs_46 text-center mb-4 ">Login</h2>
            <form action="#">
                <div class="form-group mb-4">
                    <label for="" class="mb-2 ct_fw_500">Email<span class=""> *</span></label>
                    <input type="email" class="form-control ct_login_input bg-transparent ct_border_1 ct_border_radius_50">
                    <!-- note: this is the dummy text of error you have to change it -->
                    <!-- <span class="ct_error">Please Enter User Name</span> -->
                </div>
                <div class="form-group mb-3">
                    <label for="" class="mb-2 ct_fw_500">Password <span class=""> *</span></label>
                   <div class="position-relative">
                    <input type="text" class="form-control ct_login_input bg-transparent ct_border_1 ct_border_radius_50">
                    <i class="fa-regular fa-eye ct_show_eye"></i>
                   </div>
                   <!-- note: this is the dummy text of error you have to change it -->
                   <!-- <span class="ct_error">Please Enter Password</span> -->
                </div>
                <p class="mb-0 ct_color_8E8E8E">
                    <label for="" class="d-flex align-items-center gap-2 ct_ff_roboto">
                        <input type="checkbox" class="ct_custom_checkbox ct_ff_roboto">
                        Remember me?
                    </label>
                </p>

                <button class="ct_orange_btn w-100 justify-content-center ct_ff_Rowdies ct_fw_400 ct_btn_h_50 mt-4">Log in</button>
               <div class="d-flex align-items-center justify-content-between flex-wrap gap-2 mt-3">
                <p class="mb-0 mt-0 ct_fw_400">Not Registered Yet?<a routerLink="/signup" class=" ct_orange_text ct_fw_600"> Create an account</a></p>
                <p class="mb-0 mt-0 ct_fw_400"><a routerLink="/forgotpassword" class=" ct_orange_text ct_fw_600"> Forgot Password</a></p>
               </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

 <!-- footer Section E -->
 <!-- <div class="ct_loader_main">
    <div class="loader"></div>
  </div> -->
