<div class="ct_px_28 profile-container pb-5 pt-3">
  



   <div class="mb-4 pt-2">
    <h4 class="mb-1 ct_fs_20 ct_fw_600 ct_ff_inter" style="color: #000;">Change Password </h4>
    <p class="text-muted mb-0" style="font-size: 16px;">Update your account password to keep your account secure</p>
  </div>





  <div class="dashboard-card dash-card-shadow ct_p_32 bg-white" style="border-radius: 16px; box-shadow: 0px 1px 10px 0px #061F611F;
">
    
  
    <div class="row mb-4">
      <div class="col-md-12 mb-3">
             <div class="form-group">
                                                <label for="" class="ct_form_label ct_fs_13 ct_fw_600 ct_text_dark mb-2">Current Password
                                                    </label>
                                          <div class="position-relative">
                                                      <input type="password" class="form-control ct_custom_input ct_pe_40"
                                                    placeholder="Enter current password" >
                                                    <i class="fa-solid fa-eye ct_show_eye"></i>
                                          </div>
   </div>


      </div>

    <div class="col-md-12 mb-3">
             <div class="form-group">
                                                <label for="" class="ct_form_label ct_fs_13 ct_fw_600 ct_text_dark mb-2">New Password  
                                                    </label>
                                          <div class="position-relative">
                                                      <input type="password" class="form-control ct_custom_input ct_pe_40"
                                                    placeholder="Enter current password" >
                                                    <i class="fa-solid fa-eye ct_show_eye"></i>
                                          </div>
   </div>


      </div>


          <div class="col-md-12 mb-3">
             <div class="form-group">
                                                <label for="" class="ct_form_label ct_fs_13 ct_fw_600 ct_text_dark mb-2">Confirm Password 
                                                    </label>
                                          <div class="position-relative">
                                                      <input type="password" class="form-control ct_custom_input ct_pe_40"
                                                    placeholder="Enter current password" >
                                                    <i class="fa-solid fa-eye ct_show_eye"></i>
                                          </div>
   </div>


      </div>
    </div>

  
  </div>

  <div class="d-flex justify-content-end gap-3 mt-5">
    <button class="portal-btn  text-warning px-4 fw-medium" style="background-color: transparent; border: 1px solid #FC800A; border-radius: 8px; color: #FC800A !important;" >
      Cancel
    </button>
    <button class="portal-btn ct_gradient_btn  px-4 " style="border-radius: 8px;" >
      Save Changes
    </button>
  </div>


  

</div>