<section class="ct_banner_bg" style="overflow: hidden;">
  

  <!-- Banner section S -->

  <div class="ct_banner_section">
    <div class="container-fluid">
      <div class="row align-items-xl-end align-items-center ">
        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1000">
          <div class="ct_left_banner_img">
            <img src="assets/img/homeGirl.png" alt="" />
            <div class="ct_overlay_img">
              <img style="display: none;" src="assets/img/men_tablate.png" alt="" />
              <img src="assets/img/beg.png" alt="" />
              <img src="assets/img/seazer.png" alt="" />
              <img src="assets/img/hslider-blob.webp.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1000">
          <div class="ct_section_right_cnt">
            <img src="assets/img/ABC-Scale.png" alt="" />
            <h1 class="ct_fs_60 mb-4">
              An Accredited* PK-4 virtual <br> school with a global Islamic <br> focus.
            </h1>

            <p>
              **Accreditation - We are in the process of global Accreditation.
              If your looking for a non-traditional virtual school with flexible programs you can do safely from home
              then become part of our learning community today!

            </p>


            <div class="mt-4">
              <a href="#" class="ct_orange_btn ct_ff_Rowdies">Get Started <img src="assets/img/right_arrow.svg"
                  alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner section E -->
</section>


<section class="ct_py_60 ct_why_inroll_bg ct_px_140" data-aos="fade-down" data-aos-duration="1000">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-7 mb-4 mb-xl-0">
        <div class="ct_enroll_section_left">
          <h3 class="ct_fs_46 mb-4">Why Enroll with Us?</h3>
          <p>
            1. Live Classes <br />
            Live classes are offered to students in grades Pre-K to 4 four
            days a week.Our students experience a real classroom
            setting collaborated with their teacher and students.
          </p>
          <p>
            2. Self Paced <br />
            Self-paced learning is offered for grades 1-4. Students can
            work at their own pace with the guidance of the Learning
            Coach.
            Self-paced students do not attend live classes and are guided
            by their Learning Coach. Teachers offer support when requested
            for further assistance with the course material. Self-paced
            students can enroll in religious studies courses for free.
            Self-paced students are welcome to school-wide events, and
            programs.
          </p>
          <p>3. Academics<br />

            Our students have access to their digital curriculum accounts,
            from where they have access to their courses. This account is
            what the student
            needs to complete his coursework and assessments.
            Teachers make the utmost effort to ensure that-concepts that
            go against Islamic beliefs are not taught in our lessons. Our
            curriculum is a pre-designed digital platform, therefore
            parents should be aware that the course-ware includes concepts
            that go against Islamic beliefs. Teachers will point out
            before signing homework when the student should take caution
            and at times skip a particular section found in the lesson.
          </p>
          <p>
            4. Annual Testing <br />

            We administer assessments to measure our student's learning.
            We use diagnostic assessments to measure our student's
            learning against their peers.
          </p>

          <ul class="ct_inroll_list">
            <li>
              <div class="ct_enroll_small_icon">
                <img src="assets/img/enroll_icon_1.svg" alt="">
              </div>
              <h4 class="mb-0 ct_fs_24">Child Friendly <br>
                Environment</h4>
            </li>
            <li>
              <div class="ct_enroll_small_icon">
                <img src="assets/img/enroll_icon_4.svg" alt="">
              </div>
              <h4 class="mb-0 ct_fs_24">Real-Time<br>
                Education</h4>
            </li>
            <li>
              <div class="ct_enroll_small_icon">
                <img src="assets/img/enroll_icon_2.svg" alt="">
              </div>
              <h4 class="mb-0 ct_fs_24">Well-Built<br>
                Infrastructure</h4>
            </li>
            <li>
              <div class="ct_enroll_small_icon">
                <img src="assets/img/enroll_icon_3.svg" alt="">
              </div>
              <h4 class="mb-0 ct_fs_24">Professional<br>
                Staff Members</h4>
            </li>
            <li>
              <div class="ct_enroll_small_icon">
                <img src="assets/img/enroll_icon_3.svg" alt="">
              </div>
              <h4 class="mb-0 ct_fs_24">Professional<br>
                Study Material</h4>
            </li>
            <li>
              <div class="ct_enroll_small_icon">
                <img src="assets/img/enroll_icon_3.svg" alt="">
              </div>
              <h4 class="mb-0 ct_fs_24">Professional<br>
                Communication</h4>
            </li>

          </ul>
          <a href="#" class="ct_orange_btn ct_ff_Rowdies ct_text_transform_unset">Contact us: info&#64;tiaglobal.org
            <img src="assets/img/right_arrow.svg" alt="" /></a>
        </div>

      </div>
      <div class="col-xl-5 mb-4 mb-xl-0">
        <div class="ct_why_inroll_right_img">
          <div class="ct_inroll_img_1">
            <img src="assets/img/whyEnroll1.png" alt="">
          </div>
          <div class="ct_inroll_img_2">
            <img src="assets/img/whyEnroll2.png" alt="">
          </div>
          <div class="ct_inroll_img_3">
            <img src="assets/img/whyEnroll3.png" alt="">
          </div>
          <div class="ct_inroll_img_4">
            <img src="assets/img/whyEnroll4.png" alt="">
          </div>

        </div>
      </div>
    </div>
  </div>
</section>



<section class="ct_about_us_bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-7" data-aos="fade-right" data-aos-duration="1000">
        <p class="ct_orange_text ct_fs_18 mb-0">About Us</p>
        <h2 class="ct_fs_60 text-white">Committed Fun Filled Education</h2>
        <p class="text-white">
          Our broad and flexible curriculum employs the best educational practices to ensure student success. A
          commitment to and belief in learning is important to all individuals and programs. We found that creative
          lesson planning plays a vital role in keeping students engaged and motivated throughout their educational
          journey. By incorporating innovative and interactive teaching techniques, you can capture your students'
          interest and make learning enjoyable. Our teachers are professional, dedicated, and innovative. They care
          about the children, and the children care about them. Our instructors are degree holders; however, this is not
          the only qualification that makes our teachers who they are. It is their dedication to the Islamic lifestyle
          that makes them much more: role models.
        </p>


        <a href="#" class="ct_orange_btn ct_ff_Rowdies">Get Started <img src="assets/img/right_arrow.svg" alt="" /></a>
      </div>

    </div>

  </div>
</section>


<section class="ct_testimonial_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" data-aos="fade-down" data-aos-duration="1000">
        <span class="ct_orange_text ct_fs_18 mb-5 text-center d-block">Testimonial</span>
        <h2 class="ct_fs_46  text-center">What Parents Say</h2>
        <div class="owl-carousel owl-theme ct_testimonial_slider">


          <div class="item">
            <div class="ct_testimonial_cnt">
              <div class="ct_testimonial_cnt_inner">
                <img src="assets/img/Emerald.png" alt="">
                <div class="ct_testimonial_title">
                  <div class="ct_rating_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                  <p class="mb-0">“Our family had a few hardships when we first enrolled in TIA, we had moved from
                    another state, we were on the blink of homelessness amongst other things...<a  type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal3"
                      class="text-white ct_fs_18">Read more</a></p>
                </div>
              </div>
              <!-- <div class="ct_client_main_dtl">
                            <img src="assets/img/client_2.png" alt="" class="ct_img_90">
                            <h4 class="mb-0 ct_fs_18">Maxi Gina's Mom</h4>
                       </div> -->
            </div>
          </div>
          <div class="item">
            <div class="ct_testimonial_cnt">
              <div class="ct_testimonial_cnt_inner">
                <img src="assets/img/green_cloud.png" alt="">
                <div class="ct_testimonial_title">
                  <div class="ct_rating_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                  <p class="mb-0">“We loved TIA because we were a part of a real family not just a school. The teachers
                    we were in touch with helped to educate our family by challenging them daily... <a type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal"
                      class="text-white ct_fs_18">Read more</a> </p>
                </div>
              </div>
            
            </div>
          </div>
          <div class="item">
            <div class="ct_testimonial_cnt">
              <div class="ct_testimonial_cnt_inner">
                <img src="assets/img/orange_cloud.png" alt="">
                <div class="ct_testimonial_title">
                  <div class="ct_rating_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                  <p class="mb-0">“TIA, thank you for helping us to prepare my son for his next stage in life. He is
                    well adjusted in his new school in a different state...<a class="text-white ct_fs_18" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal2">Read more</a>
                  </p>
                </div>
              </div>
              <!-- <div class="ct_client_main_dtl">
                          <img src="assets/img/client_2.png" alt="" class="ct_img_90">
                          <h4 class="mb-0 ct_fs_18">Maxi Gina's Mom</h4>
                     </div> -->
            </div>
          </div>




        </div>
      </div>

    </div>
  </div>
</section>


<!-- footer Section S -->

<!-- footer Section E -->
<!-- <div class="ct_loader_main">
    <div class="loader"></div>
  </div> -->


  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " style="min-width: 100%;
  display: flex;
  justify-content: center;
">
    <div class="item">
      <div class="">
        <div class="">
          <img src="assets/img/popup1.svg" alt="">
       
        </div>
      
      </div>

    </div>
  
  </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " style="min-width: 100%;
  display: flex;
  justify-content: center;
">
    <div class="item">
      <div class="">
        <div class="">
          <img src="assets/img/popup2.svg" alt="">
       
        </div>
      
      </div>

    </div>
  
  </div>
</div>
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " style="min-width: 100%;
  display: flex;
  justify-content: center;
">
    <div class="item">
      <div class="">
        <div class="">
          <img src="assets/img/popup3.svg" alt="">
       
        </div>
      
      </div>

    </div>
  
  </div>
</div>