<app-header></app-header>


<section class="ct_inner_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12"  data-aos="fade-down"
            data-aos-duration="1000">
                <h2 class="ct_fs_60 text-white">Welcome</h2>
            </div>

        </div>

    </div>

</section>

<div class="ct_vision_mission ct_welcome_bg_star bg-white mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto"  data-aos="fade-down"
      data-aos-duration="1000">
        <div class="ct_yellow_card ct_after_img_none">
          <h4 class="ct_ff_inter text-white ct_fs_24 ct_fw_700 text-center mb-4">
            As-Salaamu-'AIaikum
          </h4>
          <p class="text-white  ct_fs_18">
            Dear Parents/Guardians: We hope you and your family had a wonderful summer, Therefore, we'd like to take this opportunity to extend a warm welcome to you and all new and returning students. As always, we are very excited and are anticipating another fantastic school year.
          </p>
          <h4 class="ct_ff_inter text-white ct_fs_24 text-center mb-3 ct_fw_700">
            First day of school for students will be Wednesday. September 11, 2024.
          </h4>
          <p class="text-white mb-4 ct_fs_18">Virtual Open House for parents will be held on September 4, 2024. It will offer an opportunity for you to meet your child/ren's teachers, discuss our e-Learning program, and review schedules and curriculum. You may also register your child/ren, at this. Please mark your calendar and plan on attending.</p>
          <p class="text-white mb-4 ct_fs_18">
            As you know, the beginning of the school year is a very busy time for us, however, our staff will be here to assist you in any way possible.
          </p>
          
          <p class="text-white mb-4 ct_fs_18">With that, again we'd like to thank you and we hope to serve the spiritual and academic needs of your family for another year.</p>
         <p class="ct_fw_400 text-white ct_fs_24 text-center mb-4"><span class="ct_fw_700">Special Note -</span> We are requesting all parents to please register online, if at all possible.</p>
         <p class="ct_fs_18 text-white ">Please make note of the following prerequisites before your child/ren can begin school.</p>
         <ul class="mb-3 ct_list_style_disc ps-3">
            <li class="text-white ct_fs_18  mt-0">New students must have birth certificate and shot records.
            </li>
            <li class="text-white ct_fs_18  mt-0">Any tuition or fees from the past school year must be paid.
            </li>
            <li class="text-white ct_fs_18  mt-0">Tuition, registration fees, and down payment must be paid upon registration or on/or before the first day of school. Fees may be paid online via Zelle.</li>
            <li class="text-white ct_fs_18  mt-0">New students must have a report card or transcript from their previous school.
            </li>
            <li class="text-white ct_fs_18  mt-0">All students must be in proper uniform on their first day of school. (See Secretary for information)
            </li>
            <li class="text-white ct_fs_18  mt-0">Student textbook fees should be paid at the time of registration in order for your child to receive his/her books in a timely manner.</li>
        
         </ul>
         <p class="ct_fs_18 text-white mb-4">
            Your child will receive a supply list. Please make sure that these supplies are obtained promptly.
         </p>
         <h4 class="ct_fs_24 text-white ct_fw_700 ct_ff_inter text-center">Was-Salaamu-'Alaikum</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer Section S -->
<app-footer></app-footer>
<!-- footer Section E -->
<!-- <div class="ct_loader_main">
  <div class="loader"></div>
</div> -->