/* parent-calendar.component.css */

.cal-card-rounded {
  border-radius: 16px;
}

.cal-header-title {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.cal-btn-circle {
  width: 28px;
  height: 28px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cal-icon-xs {
  font-size: 10px;
}

.cal-days-header {
  font-size: 12px;
}

.cal-days-row {
  font-size: 14px;
  font-weight: 500;
}

.cal-active-day-circle {
  background-color: #F68B1F;
  color: white;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: -3px;
}

.cal-event-card {
  background-color: #fff;
  box-shadow: 0px 5px 18px 0px #0000000A;

}

.cal-date-badge-wrapper {
  min-width: 50px;
}

.cal-date-badge-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEFCEE;

}

.cal-date-text-orange {
  font-size: 24px;
  font-weight: 700;
  color: #F68B1F;
  line-height: 1;

}

.small-calendar-grid div {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
}

.cal-date-text-purple {
  font-size: 24px;
  font-weight: 700;
  color: #A855F7;
  line-height: 1;
}

.cal-date-text-green {
  font-size: 24px;
  font-weight: 700;
  color: #10B981;
  line-height: 1;
}

.cal-date-text-blue {
  font-size: 24px;
  font-weight: 700;
  color: #3B82F6;
  line-height: 1;
}

.cal-event-title {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

.cal-event-time {
  font-size: 12px;
}

.cal-main-grid-card {
  border: 1px solid #E5E7EB;
  border-radius: 12px;
}

.cal-main-day-header {
  font-size: 14px;
  font-weight: 500;
}

.cal-week-row {
  min-height: 120px;
}

.cal-pill {
  font-size: 10px;
}

.cal-pill-yellow {
  background-color: #FEF3C7;
  border-left: 3px solid #F59E0B;
}

.cal-pill-green {
  background-color: #D1FAE5;
  border-left: 3px solid #10B981;
}

.cal-pill-blue {
  background-color: #DBEAFE;
  border-left: 3px solid #3B82F6;
}

.cal-pill-purple {
  background-color: #F3E8FF;
  border-left: 3px solid #A855F7;
}

.cal-pill-pink {
  background-color: #FCE7F3;
  border-left: 3px solid #EC4899;
}

.cal-pill-red {
  background-color: #FFE4E6;
  border-left: 3px solid #F43F5E;
}

.cal-pill-yellow-light {
  background-color: #FEF9C3;
  border-left: 3px solid #EAB308;
}

.cal-active-grid-day {
  background-color: #FDBA74;
}

.dashboard-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
}