<app-header></app-header>

<div class="ct_vision_mission mt-5 pt-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12"  data-aos="fade-down"
            data-aos-duration="1000">
                <span class="ct_orange_text ct_fw_600 text-center d-block mb-4 ct_fs_18">OUR VISION MISSION</span>
                <h2 class="ct_fs_46 ct_fw_600  text-center">What Makes Our Teaching Unique</h2>
            </div>
            <div class="col-lg-10 mx-auto"  data-aos="fade-down"
            data-aos-duration="1000">
                <div class="ct_yellow_card ct_mt_136">
                    <h4 class="ct_fs_46 text-white">Our Mission <img src="assets/img/goal.png" alt=""></h4>
                    <div class="row mt-3">
                        <div class="col-xxl-6 col-xl-5 mb-4 mb-xl-0">
                            <p class="mb-0 text-white">The mission of TIAG is to provide a K-4 education that expands globally through self-paced online learning. We focus on providing excellence in education while nurturing Muslim character in an enjoyable and personalized learning environment that intrigue and inspire.</p>
                        </div>
                        <div class="col-xxl-5 col-xl-5  mb-4 mb-xl-0">
                           <ul>
                            <li class="text-white"><img src="assets/img/right_arrow.svg" class="me-3 ct_img_16 ct_white_img" alt="">Vulputate dignissim suspendisse</li>
                            <li class="text-white"><img src="assets/img/right_arrow.svg" class="me-3 ct_img_16 ct_white_img" alt="">Nibh sed pulvinar proin gravida</li>
                            <li class="text-white"><img src="assets/img/right_arrow.svg" class="me-3 ct_img_16 ct_white_img" alt="">A scelerisque purus semper eget</li>
                           </ul>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-lg-10 mx-auto "  data-aos="fade-down"
            data-aos-duration="1000">
                <div class="ct_blue_card ct_mt_136">
                    <h4 class="ct_fs_46 text-white">Our Vision <img src="assets/img/search.png" alt=""></h4>
                    <div class="row mt-3">
                        <div class="col-lg-10">
                            <p class="mb-0 text-white mb-3">Our vision is that children leave our school with: </p>
                            <ul>
                                <li class="text-white">
                                    A set of spiritual and moral values -- the fear of Allah, honesty, respect and integrity 
                                </li>
                                <li class="text-white">
                                    A complement of basic skills -- educational, physical, and social.
                                </li>
                                <li class="text-white">
                                    Strong self-esteem and high personal expectations
                                </li>
                                <li class="text-white">
                                    To have developed a strong sense of community service
                                </li>
                            </ul>
                        </div>
                      

                    </div>
                </div>

            </div>
            

        </div>

    </div>
</div>

<app-footer></app-footer>

  <!-- footer Section E -->
  <!-- <div class="ct_loader_main">
    <div class="loader"></div>
  </div> -->

