<app-header></app-header>

<section class="ct_inner_bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12"  data-aos="fade-down"
        data-aos-duration="1000">
          <h2 class="ct_fs_60 text-white">Admission Process</h2>
        </div>
      </div>
    </div>
  </section>
<div class="ct_vision_mission  ct_admission_process_bg pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12"  data-aos="fade-down"
            data-aos-duration="1000">
                <h2 class="ct_fs_46 ct_fw_600  text-center">Just follow these steps</h2>
            </div>
            <div class="col-md-12 mx-auto">
                <div class="ct_yellow_card ct_mt_60 ct_after_img_none" style="background-color: #DF886C"  data-aos="fade-down"
                data-aos-duration="1000">
                   <div class="row">
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <h5 class="ct_fs_28 text-white mb-3 ct_fw_300">Step 1</h5>
                        <h4 class="ct_fs_30 ct_fw_500 text-white">Documents Required</h4>
                    </div>
                    <div class="col-lg-8 mb-4 mb-lg-0">
                        <div>
                            <h5 class="ct_fs_18 ct_ff_inter ct_fw_700 text-white mb-0">The documents listed below may be required for admission:
                            </h5>
                            <ul class="ct_list_style_disc ps-3">
                                <li class="text-white mt-0">
                                    Students Transferring from public/Private School:
                                </li>
                                <li class="text-white mt-0">Student's ID (Birth Certificate, Government Issued ID, etc)
                                </li>
                                <li class="text-white mt-0">Most Recent School Report Card
                                </li>
                               
                            </ul>
                        </div>
                        <div>
                            <h5 class="ct_fs_18 ct_ff_inter ct_fw_700 text-white mb-0">Home schooled Students:

                            </h5>
                            <ul class="ct_list_style_disc ps-3">
                                <li class="text-white mt-0">
                                    Student's ID (Birth Certificate, Government Issued ID, etc)

                                </li>
                                <li class="text-white mt-0">Portfolio Review by the County

                                </li>
                                <li class="text-white mt-0">Student Work Samples

                                </li>
                                <li class="mt-0 text-white">Picture snapshot of the last writing assignment the student completed on their own
                                </li>
                                <li class="mt-0 text-white">Last math assignment done by the student</li>
                            </ul>
                        </div>
                    </div>

                   </div>
                  
                </div>
                <div class="ct_yellow_card ct_mt_60 ct_after_img_none" style="background-color: #0799A3"  data-aos="fade-down"
                data-aos-duration="1000">
                    <div class="row">
                     <div class="col-lg-4 mb-4 mb-lg-0">
                         <h5 class="ct_fs_28 text-white mb-3 ct_fw_300">Step 2</h5>
                         <h4 class="ct_fs_30 ct_fw_500 text-white">Parent/Guardian <br> submits Enrollment <br> Request Form</h4>
                     </div>
                     <div class="col-lg-8 mb-4 mb-lg-0">
                         <div>
                             <h5 class="ct_fs_18 ct_ff_inter ct_fw_700 text-white mb-0">Click the link below to access our Enrollment Request Form

                             </h5>
                             <ul class="ct_list_style_disc ps-3">
                                 <li class="text-white mt-0">
                                   <a href="#" class="text-white"> https://tiaglobal.org/new-student-registration-form/</a>
                                 </li>
                                 <li class="text-white mt-0">The student's most recent School Records must be submitted in order for the Admissions
                                 </li>
                                 <li class="text-white mt-0">Team to perform the preliminary review.
                                 </li>
                                
                             </ul>
                         </div>
                         <div>
                             <h5 class="ct_fs_18 ct_ff_inter ct_fw_700 text-white mb-0">This includes, but is not limited to, the following:


                             </h5>
                             <ul class="ct_list_style_disc ps-3">
                                 <li class="text-white mt-0">
                                    The most recent Report Card
                                 </li>
                                 <li class="text-white mt-0">Student Discipline/Behavior Records
                                 </li>
                                 <li class="text-white mt-0">Student Attendance Records
                                 </li>
                                
                             </ul>
                         </div>
                     </div>

                    </div>
                    <p class="mb-0 text-white mt-3">If you do not have all the documentation available at time of submitting the form,
                        please request documentation from your student's current school and email it to
                        admission&#64;tiaglobal.org and make sure to include the Parent/Guardian's name, email
                        address, student's name, and grade.</p>
                   
                 </div>

                 <div class="ct_yellow_card ct_mt_60 ct_after_img_none" style="background-color: #0774A3"  data-aos="fade-down"
                 data-aos-duration="1000">
                    <div class="row">
                     <div class="col-lg-4 mb-4 mb-lg-0">
                         <h5 class="ct_fs_28 text-white mb-3 ct_fw_300">Step 3</h5>
                         <h4 class="ct_fs_30 ct_fw_500 text-white">Preliminary Academic <br> Counselor Review & <br> Student Assessment</h4>
                     </div>
                     <div class="col-lg-8 mb-4 mb-lg-0">
                         <div>
                           
                             <ul>
                                 <li class="text-white">
                                    During this step, TIAG Operational Advisor will review the student's report
                                    cards/transcripts/homeschool portfolio. 
                                 </li>
                                 <li class="text-white mt-3">The OA will communicate with the
                                    parent/guardian in case there is need for a Placement Test", one-on-one interview,
                                    further documentation.
                                 </li>
                             </ul>
                         </div>
                     </div>

                    </div>
                    <p class="mb-0 text-white mt-3">**Placement Test: Please note that we take into great consideration the feedback we
                        receive from parents and what the student has actually completed as compared to the
                        test. This is due to the fact that some students are not effective test-takers.)</p>
                 </div>

                 <div class="ct_yellow_card ct_mt_60 ct_after_img_none" style="background-color: #582A64"  data-aos="fade-down"
                 data-aos-duration="1000">
                    <div class="row">
                     <div class="col-lg-4 mb-4 mb-lg-0">
                         <h5 class="ct_fs_28 text-white mb-3 ct_fw_300">Step 4</h5>
                         <h4 class="ct_fs_30 ct_fw_500 text-white">Acceptance  <br>
                            Decision</h4>
                     </div>
                     <div class="col-lg-8 mb-4 mb-lg-0">
                         <div>
                           
                             <ul>
                                 <li class="text-white">
                                    After the OA completes the review, the Parent/Guerdian will receive an email notification in
                                    relation to the acceptance of the student.
                                 </li>
                               
                             </ul>
                         </div>
                     </div>

                    </div>
                    <p class="mb-0 text-white mt-3">After approval and acceptance, should we receive any new information or documentation
                        from the student's previous school, the Admissions Team will re-evaluate the decision and
                        reserves the right to change the decision.</p>
                        <p class="mb-0 text-white mt-3">After approval and acceptance. Should we receive any new information or documentation
                            from the student’s previous school, the Admissions Team will re-evaluate the decision and
                            reserves the right to change the decision.</p>
                 </div>


                 <div class="ct_yellow_card ct_mt_60 ct_after_img_none" style="background-color: #6C78DF"  data-aos="fade-down"
                 data-aos-duration="1000">
                    <div class="row">
                     <div class="col-lg-4 mb-4 mb-lg-0">
                         <h5 class="ct_fs_28 text-white mb-3 ct_fw_300">Step 5</h5>
                         <h4 class="ct_fs_30 ct_fw_500 text-white">New Student <br> Registration Application</h4>
                         <ul class="ct_list_style_disc ps-3 mt-3">
                            <li class="text-white">$75 Registration Fee </li>
                            <li class="text-white mt-2">$200 Technology Fee </li>
                            <li class="text-white mt-2">1st Month's Tuition Deposit </li>
                         </ul>
                         <p class="text-white mt-3 mb-0">*The Registration Fee ($75) is non-refundable.</p>
                     </div>
                     <div class="col-lg-8 mb-4 mb-lg-0">
                         <div>
                           
                             <ul>
                                 <li class="text-white">
                                    + $75 Registration Fee + $200 Tech Fee + 1st Month's Tuition*
                                 </li>
                                 <li class="text-white">
                                    If the student is accepted into TIAG, the Parent/Guardian will receive an acceptance email
                                    along With a link to complete the New Student Registration Application. <br>
                                    Parents/Guardians will be prompted to pay the following tees at the end ot the form:
                                 </li>
                               
                             </ul>
                         </div>
                     </div>

                    </div>
                
                 </div>


                 <div class="ct_yellow_card ct_mt_60 ct_after_img_none" style="background-color: #C5944B"  data-aos="fade-down"
                 data-aos-duration="1000">
                    <div class="row">
                     <div class="col-lg-4 mb-4 mb-lg-0">
                         <h5 class="ct_fs_28 text-white mb-3 ct_fw_300">Step 6</h5>
                         <h4 class="ct_fs_30 ct_fw_500 text-white">Student Onboarding</h4>
                     </div>
                     <div class="col-lg-8 mb-4 mb-lg-0">
                         <div>
                            
                             <ul>
                                 <li class="text-white">
                                    Once the Registration Application has been submitted, the Admissions Team will prepare
                                    the application for internal processing.
                                 </li>
                             </ul>
                         </div>
                     </div>

                    </div>
                    <p class="text-white mt-3 mb-0">Student documentation and report cards/transcripts will undergo secondary review.</p>
                    <p class="text-white mt-3 mb-0">After all reviews are compete, OA and CA Team will start the process of creating student
                        accounts, assigning classes, allocating digital resources, etc.</p>
                    <p class="text-white mt-3 mb-0">Starting August, Parents/Guardians will be sent a Tutorial Onboarding Video explaining the
                        various platforms and technology used at TIAG. Parents/Guardians are advised to
                        complete this Onboarding Tutorial with their student to ensure a smooth start of school.</p>
                
                 </div>
                 <div class="ct_yellow_card ct_mt_60 ct_after_img_none" style="background-color: #4BC557"  data-aos="fade-down"
                 data-aos-duration="1000">
                    <div class="row">
                     <div class="col-lg-4 mb-4 mb-lg-0">
                         <h5 class="ct_fs_28 text-white mb-3 ct_fw_300">Step 7</h5>
                         <h4 class="ct_fs_30 ct_fw_500 text-white">Enrollment & <br> Orientation  Days</h4>
                     </div>
                     <div class="col-lg-8 mb-4 mb-lg-0">
                         <div>
                            
                             <ul>
                                 <li class="text-white">
                                    Starting early August, emails will be sent to the Parent/Guardian which include the login
                                    information for the students. As the first day of school approaches, students will be able to
                                    login to TIAG platform to see their class schedules.
                                 </li>
                             </ul>
                         </div>
                     </div>

                    </div>
                    <p class="text-white mt-3 mb-0">Group Orientation sessions are conducted for every student with their Parent/Guardian to
                        facilitate the onboarding process with the Academy. The dates and time of tho Orientation
                        sessions will be emailed to the Parent/Guardian.</p>
                    <p class="text-white mt-3 mb-0">Please contact the Admissions Office if you do not receive notification of your child's
                        enrollment within 5 business days of enrolling. It is possible the admissions email may
                        have gone to your spam folder.</p>
                   
                
                 </div>

            </div>
           
            

        </div>

    </div>
</div>

<app-footer></app-footer>

<!-- <div class="ct_loader_main">
    <div class="loader"></div>
  </div> -->