<app-header></app-header>

<section class="ct_inner_bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12"  data-aos="fade-down"
        data-aos-duration="1000">
          <h2 class="ct_fs_60 text-white">Founder Message</h2>
        </div>
      </div>
    </div>
  </section>
<section class=" py-5">
    <div class="container-fluid ct_px_140">
        <div class="row">
            <div class="col-md-12"  data-aos="fade-down"
            data-aos-duration="1000">
                <span class="ct_fs_18 ct_fw_600 d-block text-center ct_orange_text">Precious words</span>
                <h2 class="ct_fs_46 ct_fw_600  text-center">What our founder has to say</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12"  data-aos="fade-down"
            data-aos-duration="1000">
                <h6 class="ct_fs_24 mb-0">As salaamu Alaykum
                </h6>
                 <p class="mb-0">On behalf of everyone at Tarbiyatul ILM Academy Global, I would like to welcome all new and returning families to our virtual online school. We offer alternative education solutions to students globally. The Administration and teachers look forward to a productive partnership with you in order to help our students achieve their highest potential by creating a healthy, safe and stimulating online environment.
                    We strive to provide access to the best education, Secular or Islamic while ensuring opportunities for individual success, online active learning, and social-emotional online learning. WE care committed to equipping students with essential skills needed  We ask that you guide and support your child’s learning by ensuring that they strive for excellence in everything they do by encouraging them to -</p>
            </div>

        </div>

        <div class="row mt-5 pt-3 ">
            <div class="col-xxl-8 col-xl-7 col-lg-7 mb-4 mb-lg-0"  data-aos="fade-right"
            data-aos-duration="1000">
               <ul class="ct_list_style_disc ps-3">
                <li>Display their Fear for Allah, honesty, respect, and responsibility in all their actions
                </li>
                <li>Set clear goals for themselves in order to have direction and purpose
                </li>
                <li>Adopt effective study habits and consistently applying them
                </li>
                <li>Show a commitment to learning and initiative by challenging themselves to go above what is expected
                </li>
                <li>Use the tools and support needed to succeed. 
                </li>
               </ul>
               <p class="mb-0 mt-3">I would like to thank you for the privilege of serving you and your family. Please know that my office is always open to you and I look forward to working closely with you to ensure the success of each and every student.</p>
               <div class="mt-5 pt-3">
                <p class="mb-1">Best Regards,
                </p>
                <h6 class="ct_fs_18 ct_fw_700 ct_ff_inter mb-0">Khadijah Abdullah
                </h6>
                <p class="mb-0 ct_fs_18">Founder/Administrator
                </p>
               </div>
            </div>
            <div class="col-xxl-4 col-xl-5 col-lg-5  mb-4 mb-lg-0"  data-aos="fade-left"
            data-aos-duration="1000">
              <!-- <div class="ct_founder_img">
                <img src="assets/img/girl_2.jpg" alt="">

              </div> -->
            </div>
            <div>
              
            </div>

        </div>

    </div>
</section>

<section class=" ct_pb_120">
  <div class="container-fluid ct_px_140">
      <div class="row">
          <div class="col-md-12"  data-aos="fade-down"
          data-aos-duration="1000">
              <span class="ct_fs_18 ct_fw_600 d-block text-center ct_orange_text">IDEAL FOR EVERYONE</span>
              <h2 class="ct_fs_46 ct_fw_600  text-center">Leadership Team</h2>
          </div>
      </div>
      <div class="row my-5 align-items-center">
        <div class="col-xl-5 col-lg-6"  data-aos="fade-right"
        data-aos-duration="1000">
          <h4 class="ct_fs_46 text-center text-lg-start">Incredible People Behind  <br>
            Incredible Students.</h4>
        </div>
        <div class="col-xl-2 d-none d-xl-block"  data-aos="fade-down"
        data-aos-duration="1000">
          <img src="assets/img/footer_design.png" alt="" class="ct_center_star">
        </div>
        <div class="col-xl-5  col-lg-6"  data-aos="fade-left"
        data-aos-duration="1000">
          <p class="mb-0">Sollicitudin ac orci phasellus sagittis aliquam malesuada bibendum arcu. posuere diam id ultrices
            cursus. Integer ipsum arcu, rutrum ac quam quis, vulputate efficitur sem. Duis eget condimentum
            odio. Nulla vel fermentum tellus.</p>
        </div>
      </div>
      <div class="row ct_leadership_team_main">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0"  data-aos="fade-up"
        data-aos-duration="1000">
            <div class="ct_leadership_team">
              <figure>
                <div class="ct_team_img">
                  <img src="assets/img/whyEnroll1.png" alt="">
                </div>
                <figcaption>
                  <h4 class="ct_fs_24 text-center  mb-1">AURORA JACKSON</h4>
                  <p class="mb-0  text-center">English</p>
                </figcaption>
              </figure>

            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0"  data-aos="fade-up"
        data-aos-duration="1000">
          <div class="ct_leadership_team">
            <figure>
              <div class="ct_team_img">
                <img src="assets/img/whyEnroll2.png" alt="">
              </div>
              <figcaption>
                <h4 class="ct_fs_24 text-center  mb-1">COSMI</h4>
                <p class="mb-0  text-center">French</p>
              </figcaption>
            </figure>

          </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0"  data-aos="fade-up"
      data-aos-duration="1000">
        <div class="ct_leadership_team">
          <figure>
            <div class="ct_team_img">
              <img src="assets/img/whyEnroll3.png" alt="">
            </div>
            <figcaption>
              <h4 class="ct_fs_24 text-center  mb-1">DEBORA</h4>
              <p class="mb-0  text-center">Classroom Management</p>
            </figcaption>
          </figure>

        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0"  data-aos="fade-up"
    data-aos-duration="1000">
      <div class="ct_leadership_team">
        <figure>
          <div class="ct_team_img">
            <img src="assets/img/whyEnroll4.png" alt="">
          </div>
          <figcaption>
            <h4 class="ct_fs_24 text-center mb-1">ELSPETH</h4>
            <p class="mb-0  text-center">JavaScript </p>
          </figcaption>
        </figure>

      </div>
  </div>
        
      </div>
    

    

  </div>
</section>

<app-footer></app-footer>

 <!-- footer Section E -->
 <!-- <div class="ct_loader_main">
    <div class="loader"></div>
  </div> -->
