<app-header></app-header>

<section class="ct_inner_bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12"  data-aos="fade-down"
        data-aos-duration="1000">
          <h2 class="ct_fs_60 text-white">FAQ’s</h2>
        </div>
      </div>
    </div>
  </section>

  <div class="ct_scene_bg ct_py_60 ct_pb_120">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto"  data-aos="fade-down"
        data-aos-duration="1000">
          <div class="accordion accordion-flush ct_faq_accordian" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  When was Everyday TIAG Academy founded ?
                </button>
              </h2>
              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  TIAG was licensed and registered in Pennsylvania & California. We first opened our online doors September 1, 2020 with four grade levels spanning preschool through 2nd grade.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwo"
                >
                  Which grade levels does TIAG plan to offer for the 2021-2022
                  school year? 
                </button>
              </h2>
              <div
                id="flush-collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  We have expanded our offerings to provide instruction for preschool through 5th grade students.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree"
                  aria-expanded="false"
                  aria-controls="flush-collapseThree"
                >
                  What are the dates for the upcoming school year?
                </button>
              </h2>
              <div
                id="flush-collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  The fall 2021-2022 school year will begin Sunday August 29, 2021 and will conclude on Tuesday June 7, 2022
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFour">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour"
                  aria-expanded="false"
                  aria-controls="flush-collapseFour"
                >
                  What is the deadline for enrollment?
                </button>
              </h2>
              <div
                id="flush-collapseFour"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingFour"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Early enrollment for the fall 2021-2022 school year will close October 15th. Spring enrollment dates TBA.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFive">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive"
                  aria-expanded="false"
                  aria-controls="flush-collapseFive"
                >
                What academic curriculum does TIAG  use? 
                </button>
              </h2>
              <div
                id="flush-collapseFive"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingFive"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  All core subject classes use adapted Core Knowledge curriculum to suit the needs of our learners. The Core Knowledge Curriculum Series™ provides comprehensive, content-rich learning materials based on the Core Knowledge Sequence. Core Knowledge is a derivative of Engage NY.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingSix">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseSix"
                  aria-expanded="false"
                  aria-controls="flush-collapseSix"
                >
                What is meant by adapted curriculum? 
                </button>
              </h2>
              <div
                id="flush-collapseSix"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingSix"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  TIAG prioritizes the use of curriculum, resources, and materials that align with our philosophy, values as a school and culturally relevant pedagogy. As a result, we carefully adapt the curriculum that we use to ensure that the instruction and the materials we provide meet the needs of our learners.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingSeven">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseSeven"
                  aria-expanded="false"
                  aria-controls="flush-collapseSeven"
                >
                Why does TIAG  use the Core Knowledge Curriculum Series™ ? 
                </button>
              </h2>
              <div
                id="flush-collapseSeven"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingSeven"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Students, teachers, administrators, and parents can all benefit from implementing a Core Knowledge program. Core Knowledge provides a coherent plan for learning that builds cumulatively from grade to grade. Although we currently only provide elementary school, the curriculum can help students build strong foundations of knowledge for success in high school and beyond. The curriculum creates a common focus that promotes teamwork and collaboration which is essential for helping students meet grade level standards, benchmarks and develop 21st century skills.
                </div>
              </div>
            </div>
           
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingNine">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseNine"
                  aria-expanded="false"
                  aria-controls="flush-collapseNine"
                >
                Is TIAG  an accredited school? 
                </button>
              </h2>
              <div
                id="flush-collapseNine"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingNine"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Our leadership team made the decision to apply for accreditation in the beginning of our initial year of operation. Currently, our school is in the applicant stage for accreditation with Cognia formally known as Advanced Ed Solutions. Cognia is a non-profit, non-governmental organization that accredits primary and secondary schools throughout the United States and internationally. Founded in 2006, Cognia represents more than 36,000 institutions with a total of 25 million students and 5 million educators in about 80 counties.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTen">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTen"
                  aria-expanded="false"
                  aria-controls="flush-collapseTen"
                >
                When does TIAG  hope to be accredited? 
                </button>
              </h2>
              <div
                id="flush-collapseTen"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingTen"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  We believe wholeheartedly in providing the best education that we can for learners through the implementation of evidence-based and best practices. We are taking all necessary steps to achieve our accreditation goals by ensuring that we are constantly working towards providing quality school programs and continued improvement. As a result, we hope to obtain accreditation by the end of the 2021-2022 school year.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingEleven">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseEleven"
                  aria-expanded="false"
                  aria-controls="flush-collapseEleven"
                >
                What does Cognia accreditation ensure? 
                </button>
              </h2>
              <div
                id="flush-collapseEleven"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingEleven"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  The accreditation process examines the whole institution–its policies, programs, practices, learning conditions, and cultural context–to determine how well the parts work together to carry out the institution’s vision and meet the needs of every learner. Accreditation isn’t about passing a one-time inspection. Rather, accreditation recognizes education providers that demonstrate and sustain their commitments to continuous improvement and better learner outcomes.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwelve">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwelve"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwelve"
                >
                When and why does accreditation matter? 
                </button>
              </h2>
              <div
                id="flush-collapseTwelve"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingTwelve"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Although accreditation can ensure academic quality at the elementary school level, it matters most that a school is accredited by the time its students reach HS. The choice to attend an accredited school can impact each student's ability to receive federal financial aid in the U.S. or transfer credit to a new school. However, accreditation doesn't ensure acceptance at a college or university. It is always up to an institution whether they decide to admit a student for enrollment based on a student's overall application which comprises grades, a cumulative GPA, academic portfolio or record, statement of purpose and letters of recommendation.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThirteen">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThirteen"
                  aria-expanded="false"
                  aria-controls="flush-collapseThirteen"
                >
                Does TIAG  plan to offer Middle School and High School instruction in the future? 
                </button>
              </h2>
              <div
                id="flush-collapseThirteen"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingThirteen"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Yes, we plan to offer a comprehensive preschool through 12th grade school program. At the beginning of each academic year, we will add on subsequent grade levels as we grow in enrollment and meet specified goals through strategic planning. 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer Section S -->
  <app-footer></app-footer>
  <!-- footer Section E -->
  <!-- <div class="ct_loader_main">
    <div class="loader"></div>
  </div> -->