<app-header></app-header>

<div class="ct_vision_mission mt-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-5" data-aos="fade-down" data-aos-duration="1000">
                <h2 class="ct_fs_46 ct_fw_600  text-center">Summer School</h2>
            </div>
            <div class="col-md-10 mx-auto" data-aos="fade-down" data-aos-duration="1000">
                <div class="ct_yellow_card ct_mt_136 ct_after_img_none">
                    <p class="text-white text-center">
                        Taking courses during summer break is a great opportunity to get ahead with your studies in preparation for the next grade or just to catch up on subjects that you have failed. The courses for online summer school allow students to continue learning while also offering the flexibility to enjoy family vacations or work a summer job. Our state-of-the-art education technology allows students to take their learning wherever they can be online, like the beach or on the road.


                    </p>
                </div>

            </div>



        </div>

    </div>
</div>

<app-footer></app-footer>

<!-- footer Section E -->
<!-- <div class="ct_loader_main">
    <div class="loader"></div>
  </div> -->