<app-header></app-header>

<section class="ct_inner_bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12"   data-aos="fade-down"
        data-aos-duration="1000">
          <h2 class="ct_fs_60 text-white">Employment</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="ct_vision_mission ct_welcome_bg_star ct_py_60 ct_pb_150">
    <div class="container">
      <div class="row">
          <div class="col-lg-8 mb-4 mb-lg-0"   data-aos="fade-right"
          data-aos-duration="1000">
              <div class="ct_light_pink_bg">
                  <h3 class="ct_fs_35 text-center mb-4">Please let us know your talent</h3>
                  <form action="">
                      <div class="form-group mb-4">
                          <input type="text" class="form-control ct_input_white ct_fw_500" placeholder="Name">
                      </div>
                      <div class="form-group mb-4">
                          <input type="email" class="form-control ct_input_white ct_fw_500" placeholder="Email">
                      </div>
                      <div class="form-group mb-4">
                          <input type="number" class="form-control ct_input_white ct_fw_500" placeholder="Phone Number">
                      </div>
                      <div class="form-group mb-4">
                         <textarea class="form-control ct_input_white h-auto ct_fw_500" rows="5" placeholder="Message"></textarea>
                      </div>
                      <div class="form-group mb-4">
                        <label for="ct_file_upload" class="w-100">
                          <input type="file" class="d-none" id="ct_file_upload">
                          <div class="ct_file_upload_input">
                              <i class="fa-solid fa-paperclip"></i>
                              <span>Add Attachment</span>
                          </div>
                        </label>
                       </div>
  
  
                       <button class="ct_orange_btn">Submit</button>
  
                  </form>
              </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="ct_tutor_card" style="background-color: #FB8095;"  data-aos="fade-left"
              data-aos-duration="1000">
                  <div class="d-flex align-items-center gap-3">
                      <img src="assets/img/arabic_tutor.jpg" alt="" class="ct_img_102">
                      <h4 class="ct_fs_24 mb-0">Arabic Tutor</h4>
                  </div>
                  <ul class="mt-4">
                      <li>
                          <img src="assets/img/location_fill_icon_2.svg" alt=""> <span class="ct_fs_18" style="word-break: break-all;">4059 Carling Avenue,
                              Ottawa,Ontario,Canada,K1Z 7B5</span>
                      </li>
                      <li class="mt-3">
                          <img src="assets/img/call_fill_icon.svg" alt=""> <a href="tel:+00123456789" class="ct_fs_18"  style="word-break: break-all;">+00123456789</a>
                      </li>
                      <li class="mt-3">
                          <img src="assets/img/message_fill_icon.svg" alt=""> <a href="mailto:career@tiaglobal.org" class="ct_fs_18"  style="word-break: break-all;">career&#64;tiaglobal.org</a>
                      </li>
                  </ul>
  
              </div>
              <div class="ct_tutor_card mt-3" style="background-color: #A880FB;"  data-aos="fade-left"
              data-aos-duration="1000">
                  <div class="d-flex align-items-center gap-3">
                      <img src="assets/img/english_tutor'.jpg" alt="" class="ct_img_102">
                      <h4 class="ct_fs_24 mb-0">English Tutor</h4>
                  </div>
                  <ul class="mt-4">
                      <li>
                          <img src="assets/img/location_fill_icon_2.svg" alt=""> <span class="ct_fs_18"  style="word-break: break-all;">4059 Carling Avenue,
                              Ottawa,Ontario,Canada,K1Z 7B5</span>
                      </li>
                      <li class="mt-3">
                          <img src="assets/img/call_fill_icon.svg" alt=""> <a href="tel:+00123456789" class="ct_fs_18"  style="word-break: break-all;">+00123456789</a>
                      </li>
                      <li class="mt-3">
                          <img src="assets/img/message_fill_icon.svg" alt=""> <a href="mailto:career@tiaglobal.org" class="ct_fs_18"  style="word-break: break-all;">career&#64;tiaglobal.org</a>
                      </li>
                  </ul>
  
              </div>
          </div>
      </div>
     
    </div>
  </section>

  <app-footer></app-footer>

   <!-- footer Section E -->
   <!-- <div class="ct_loader_main">
    <div class="loader"></div>
  </div> -->
