<div class="ct_px_28 profile-container pb-5 pt-3">
  



   <div class="mb-4 pt-2">
    <h4 class="mb-1 ct_fs_20 ct_fw_600 ct_ff_inter" style="color: #000;">Edit Profile</h4>
    <p class="text-muted mb-0" style="font-size: 16px;">Update your profile information and preferences.</p>
  </div>





  <div class="dashboard-card dash-card-shadow ct_p_32 bg-white" style="border-radius: 16px; box-shadow: 0px 1px 10px 0px #061F611F;
">
    
    <h3 class="ct_fs_18 ct_fw_600 mb-4 ct_ff_inter">Teacher Information</h3>
    <div class="row mb-4">
      <div class="col-md-6 mb-3">
        <label class="form-label ct_form_label ct_fs_13 ct_fw_600 ct_text_dark mb-2" >FIRST NAME</label>
        <input type="text" class="form-control ct_custom_input" placeholder="Sarah" >
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label ct_form_label ct_fs_13 ct_fw_600 ct_text_dark mb-2" >Last Name</label>
        <input type="text" class="form-control ct_custom_input" placeholder="Jenkins" >
      </div>

        <div class="col-md-6 mb-3">
        <label class="form-label ct_form_label ct_fs_13 ct_fw_600 ct_text_dark mb-2" >E-mail Address</label>
        <input type="email" class="form-control ct_custom_input" placeholder="s.jenkins@example.com" disabled>
      </div>

        <div class="col-md-6 mb-3">
        <label class="form-label ct_form_label ct_fs_13 ct_fw_600 ct_text_dark mb-2" >Phone Number</label>
        <input type="number" class="form-control ct_custom_input" placeholder="+1 555-0101" >
      </div>

        <div class="col-md-6 mb-3">
        <label class="form-label ct_form_label ct_fs_13 ct_fw_600 ct_text_dark mb-2" >Date of Birth</label>
        <input type="date" class="form-control ct_custom_input" placeholder="12 March 1985" >
      </div>


         <div class="col-md-6 mb-3">
        <label class="form-label ct_form_label ct_fs_13 ct_fw_600 ct_text_dark mb-2" >Gender</label>
          <select class="form-select ct_custom_input text-muted" >
          <option selected disabled>Select Gender</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
       
        </select>
      </div>


    </div>

      <h3 class="ct_fs_18 ct_fw_600 mb-4 ct_ff_inter">Professional Information </h3>
      <div class="row mb-4">
      <div class="col-md-6 mb-3">
        <label class="form-label ct_form_label ct_fs_13 ct_fw_600 ct_text_dark mb-2" >Qualifications</label>
        <input type="text" class="form-control ct_custom_input" placeholder="M.Ed in Education" disabled>
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label ct_form_label ct_fs_13 ct_fw_600 ct_text_dark mb-2" >Teaching Experience </label>
        <input type="text" class="form-control ct_custom_input" placeholder="8 Years" disabled>
      </div>

        <div class="col-md-6 mb-3">
        <label class="form-label ct_form_label ct_fs_13 ct_fw_600 ct_text_dark mb-2" >Applying for Grade</label>
        <input type="email" class="form-control ct_custom_input" placeholder="Grade 4,5" disabled>
      </div>

    


    </div>
  </div>

  <div class="d-flex justify-content-end gap-3 mt-5">
    <button class="portal-btn  text-warning px-4 fw-medium" style="background-color: transparent; border: 1px solid #FC800A; border-radius: 8px; color: #FC800A !important;" >
      Cancel
    </button>
    <button class="portal-btn ct_gradient_btn  px-4 " style="border-radius: 8px;" >
      Save Changes
    </button>
  </div>


  

</div>