
<app-header></app-header>

<section class="ct_inner_bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12"  data-aos="fade-down"
        data-aos-duration="1000">
          <h2 class="ct_fs_60 text-white">Self-Paced Learning</h2>
        </div>
      </div>
    </div>
  </section>
<div class="ct_vision_mission  ct_admission_process_bg pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto"  data-aos="fade-down"
            data-aos-duration="1000">
                <div class="ct_yellow_card  ct_after_img_none" style="background-color: #F4A21A">
                <p class="mb-0 text-white">Self-Paced Learning is a style of instruction in which learners progress through the material at their own speed and on their own schedule. Self-Paced Learning is directed by the learner, not the instructor. With Self-Paced Learning, learners are able to spend longer or shorter periods of time engaging with particular lessons or course material</p>
                </div>
            </div>
           
            

        </div>

    </div>
</div>

<app-footer></app-footer>

 <!-- footer Section E -->
 <!-- <div class="ct_loader_main">
    <div class="loader"></div>
  </div> -->
