<header>
    <div class="ct_top_bar ct_px_70 ps-0">
      <div class="ct_top_bar_left_bg ct_orange_bg ct_py_12 ct_px_70">
        <ul>
          <li>
            <a href="tel:+1(610)9771700"
              ><i class="fa-solid fa-phone"></i> <span>Phone: </span> +1 (610) 977 1700</a>
          </li>
          <li>|</li>
          <li>
            <a href="mailto:info&#64;tiaglobal.org"
              ><i class="fa-solid fa-envelope"></i>
              <span>Email: </span> info&#64;tiaglobal.org</a
            >
          </li>
        </ul>
      </div>
      <div class="ct_top_bar_right">
        <ul>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="ct_navbar ct_px_70">
      <div class="ct_logo">
        <a routerLink="/">
          <img src="assets/img/logo.png" alt="" />
          <span class="ct_text_clr_bringle ct_fw_700"
            >Tarbiyatul ILM Academy Global</span
          >
        </a>
      </div>
      <div class="ct_menu_list">
        <ul>
          <div class="ct_close_bar">
            <i class="fa-solid fa-xmark"></i>
          </div>
          <li>
            <a routerLink="/">Home</a>
          </li>
          <li class="ct_dropdown">
            <a href="javascript:void(0)">Who we are</a>
            <ul class="ct_dropdown_menu"> 
              <li>
                <a routerLink="/welcome">Welcome</a>
              </li>
              <li>
                <a routerLink="/history">History</a>
              </li>
              <li>
                <a routerLink="/mission_vission">Vision & Mission</a>
              </li>
              <li>
                <a routerLink="/founder_message">Founder Message</a>
              </li>
            </ul>
          </li>
          <li class="ct_dropdown">
            <a href="javascript:void(0)">Academic</a>
            <ul class="ct_dropdown_menu"> 
              <li>
                <a routerLink="/academicProgram">Elementary School</a>
              </li>
              <li>
                <a routerLink="/summerschool">Summer School</a>
              </li>
              <li>
                <a routerLink="/academicProgram">Tutoring/Mentoring</a>
              </li>
              <li>
                <a routerLink="/self_paced_learning">Self Placed Learning</a>
              </li>
              <li>
                <a routerLink="/weekend_school">Weekend School</a>
              </li>
            </ul>
          </li>
          <li class="ct_dropdown">
            <a href="javascript:void(0)">Admissions </a>
            <ul class="ct_dropdown_menu"> 
              <li>
                <a routerLink="/admissionProcess">Admission Process</a>
              </li>
              <li>
                <a routerLink="/curriculum">Curriculum </a>
              </li>
              <li>
                <a routerLink="/fee">Fees/Tuition</a>
              </li>
              <li>
                <a routerLink="/self_paced_learning">Self Placed Learning</a>
              </li>
              <li>
                <a routerLink="/weekend_school">Weekend School</a>
              </li>
            </ul>
          </li>
          <li class="ct_dropdown">
            <a href="javascript:void(0)">Student’s Resources</a>
            <ul class="ct_dropdown_menu"> 
              <li>
                <a href="https://classroom.google.com/" target="_blank">Google Classroom</a>
              </li>
              <li>
                <a href="https://zoom.us/" target="_blank">Zoom  </a>
              </li>
              <li>
                <a href="https://www.splashlearn.com/" target="_blank">Splash Learn</a>
              </li>
              <li>
                <a href="#" target="_blank">Curriculumassociates.com</a>
              </li>
              <li>
                <a href="https://study.iceland.is/" target="_blank">Study Island</a>
              </li>
              <li>
                <a href="https://in.ixl.com/" target="_blank">IXL</a>
              </li>
              <li>
                <a href="https://www.edmentum.com/intl/products/exact-path/" target="_blank">sadlierconnect.com</a>
              </li>
              <li>
                <a href="https://readingeggs.co.uk/" target="_blank">Reading eggs</a>
              </li>
              <li>
                <a href="https://www.fathomreads.com/" target="_blank">Fathom Reads</a>
              </li>
            </ul>
          </li>
          <li class="ct_dropdown">
            <a href="javascript:void(0)">Parent’s Resources</a>
            <ul class="ct_dropdown_menu"> 
              <li>
                <a routerLink="/login">Student Handbook</a>
              </li>
              <li>
                <a routerLink="/calendar">Calendar</a>
              </li>
              <!-- <li>
                <a href="javascript:void(0)">School Store</a>
              </li> -->
              <!-- <li>
                <a href="javascript:void(0)">Schedule </a>
              </li> -->
              <li>
                <a routerLink="/announcement">Announcement</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="ct_menu_bar">
          <i class="fa-solid fa-bars"></i>
        </div>
        <div class="ct_login_btn">
          <a routerLink="/login">
            <img src="assets/img/education_cap.svg" alt="" />
            <span>Login</span>
          </a>
        </div>
      </div>
    </nav>
  </header>