<app-header></app-header>

<div class="ct_vision_mission mt-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12" data-aos="fade-down" data-aos-duration="1000">
                <span class="ct_orange_text ct_fw_600 text-center d-block mb-4 ct_fs_18">HISTORY OF</span>
                <h2 class="ct_fs_46 ct_fw_600  text-center">TARBIYATUL ILM ACADEMY GLOBAL</h2>
            </div>
            <div class="col-md-10 mx-auto" data-aos="fade-down" data-aos-duration="1000">
                <div class="ct_yellow_card ct_mt_136 ct_after_img_none">
                    <p class="text-white text-center">
                        Tarbiyatul Ilm Academy was founded in 2007 by professional educator as a home school alternative
                        (and separate Family Daycare Home) using the Agora Cyber Charter School curriculum which was
                        started with only three students in the living room of her home. The mission of the program was
                        to provide quality education in an Islamic environment for parents' that were displeased with
                        the Philadelphia Public School System. <br>
                        As word spread about the program, it grew exponentially. TIAG quickly outgrew its living space
                        and began to take on a life of its own. <br>
                        By the 2008 – 2009 academic year, enrollment was at 20 students and the program was forced to
                        move to a two-room apartment and commercial space for the daycare. Along with the Agora Cyber
                        Charter School curriculum, TIAG began to offer Quran and Islamic Studies as well. The Islamic
                        Studies portion consisted of beginner’s Arabic and beneficial reminders from the more popular
                        books of the Salaf. With growing success came the need for a larger venue, thus the search began
                        to accommodate the needs of the growing enrollment. <br>
                        With nearly 40 students, the school moved to a bigger location. In just two years, the home
                        School Program grew in enrollment from 40 to 55 students (Daycare grew also)! To this date, the
                        program has remained intact, changing its status to a Non-Public/Private Religious Registered
                        school with the Pennsylvania Department of Education while keeping all its students enrolled.
                        Alhamdulilah! <br>
                        The 2017 – 2018 academic year began with an enrollment of over 70 students at in the Germantown
                        section of Philadelphia, A, bi’ithnillah, ending with an enrollment of over 125 students in a
                        40,000sq ft      school building. Due to work and order to close our brick & mortar school
                        doors. After 2022, We have worked diligently to enhance our curriculum and refocus on excelling
                        and expanding in our program. To date, we have launched our Online platform and Tutoring
                        Services which has gone Global!


                    </p>
                </div>

            </div>



        </div>

    </div>
</div>

<app-footer></app-footer>

<!-- footer Section E -->
<!-- <div class="ct_loader_main">
    <div class="loader"></div>
  </div> -->