/* You can add global styles to this file, and also import other style files */
@import './assets/css/auth-common.css';
@import './assets/css/portal-common.css';
.portal-messatge-container aside.portal-profile-panel {
  border-radius: 15px;
  padding: 0px;
   height: calc(100dvh - 196px);
   width: 330px;
}
.portal-messatge-container .ct_chat_main_container {
    gap: 20px !important;
}

.ct_orange_outline{
  border-color: #FC800A;
  background-color: #FC800A08;
  color: #FC800A;
}
.ct_blue_outline_btn{
  border-color: #686AFF;
  color: #686AFF;
  background: #686AFF08;
}
@media (max-width:767px){
  .portal-messatge-container aside.portal-profile-panel{
    position: absolute;
    top: 0px;
    left: -120%;
    width: 100%;
    z-index: 999;
    transition: 0.4s ease all;
  }
   .portal-messatge-container aside.portal-profile-panel.show{
    left: 0px;
   }
}
