<section class="ct_inner_bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12"  data-aos="fade-down"
        data-aos-duration="1000">
          <h2 class="ct_fs_60 text-white">Student <br> Handbook</h2>
        </div>
      </div>
    </div>
  </section>
<div class="ct_vision_mission  ct_admission_process_bg pt-5"   data-aos="fade-down"
data-aos-duration="1000">
    <div class="container">
       <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="ct_book_card_bg_12">
                    <div class="ct_book_icon">
                        <img src="assets/img/book_1.png" alt="">
                    </div>
                    <div class="ct_book_card_title">
                       <div class="d-flex align-items-center justify-content-between">
                        <h4>Book Lorem ipsum</h4>
                        <h4>$3</h4>
                       </div>
                        <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mt-5">
                            <p class="mb-0"><img src="assets/img/top_icon_123.svg" class="me-1" alt="">12% User read this week</p>
                            <button class="ct_green_btns">Buy</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 mb-4">
                <div class="ct_book_card_bg_12">
                    <div class="ct_book_icon">
                        <img src="assets/img/book_2.png" alt="">
                    </div>
                    <div class="ct_book_card_title">
                       <div class="d-flex align-items-center justify-content-between">
                        <h4>Book Lorem ipsum</h4>
                        <h4>$3</h4>
                       </div>
                        <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mt-5">
                            <p class="mb-0"><img src="assets/img/top_icon_123.svg" class="me-1" alt="">12% User read this week</p>
                            <button class="ct_green_btns">Buy</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 mb-4">
                <div class="ct_book_card_bg_12">
                    <div class="ct_book_icon">
                        <img src="assets/img/book_3.png" alt="">
                    </div>
                    <div class="ct_book_card_title">
                       <div class="d-flex align-items-center justify-content-between">
                        <h4>Book Lorem ipsum</h4>
                        <h4>$3</h4>
                       </div>
                        <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mt-5">
                            <p class="mb-0"><img src="assets/img/top_icon_123.svg" class="me-1" alt="">12% User read this week</p>
                            <button class="ct_green_btns">Buy</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 mb-4">
                <div class="ct_book_card_bg_12">
                    <div class="ct_book_icon">
                        <img src="assets/img/book_4.png" alt="">
                    </div>
                    <div class="ct_book_card_title">
                       <div class="d-flex align-items-center justify-content-between">
                        <h4>Book Lorem ipsum</h4>
                        <h4>$3</h4>
                       </div>
                        <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mt-5">
                            <p class="mb-0"><img src="assets/img/top_icon_123.svg" class="me-1" alt="">12% User read this week</p>
                            <button class="ct_green_btns">Buy</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 mb-4">
                <div class="ct_book_card_bg_12">
                    <div class="ct_book_icon">
                        <img src="assets/img/book_5.png" alt="">
                    </div>
                    <div class="ct_book_card_title">
                       <div class="d-flex align-items-center justify-content-between">
                        <h4>Book Lorem ipsum</h4>
                        <h4>$3</h4>
                       </div>
                        <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mt-5">
                            <p class="mb-0"><img src="assets/img/top_icon_123.svg" class="me-1" alt="">12% User read this week</p>
                            <button class="ct_green_btns">Buy</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 mb-4">
                <div class="ct_book_card_bg_12">
                    <div class="ct_book_icon">
                        <img src="assets/img/book_1.png" alt="">
                    </div>
                    <div class="ct_book_card_title">
                       <div class="d-flex align-items-center justify-content-between">
                        <h4>Book Lorem ipsum</h4>
                        <h4>$3</h4>
                       </div>
                        <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mt-5">
                            <p class="mb-0"><img src="assets/img/top_icon_123.svg" class="me-1" alt="">12% User read this week</p>
                            <button class="ct_green_btns">Buy</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 mb-4">
                <div class="ct_book_card_bg_12">
                    <div class="ct_book_icon">
                        <img src="assets/img/book_2.png" alt="">
                    </div>
                    <div class="ct_book_card_title">
                       <div class="d-flex align-items-center justify-content-between">
                        <h4>Book Lorem ipsum</h4>
                        <h4>$3</h4>
                       </div>
                        <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mt-5">
                            <p class="mb-0"><img src="assets/img/top_icon_123.svg" class="me-1" alt="">12% User read this week</p>
                            <button class="ct_green_btns">Buy</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 mb-4">
                <div class="ct_book_card_bg_12">
                    <div class="ct_book_icon">
                        <img src="assets/img/book_3.png" alt="">
                    </div>
                    <div class="ct_book_card_title">
                       <div class="d-flex align-items-center justify-content-between">
                        <h4>Book Lorem ipsum</h4>
                        <h4>$3</h4>
                       </div>
                        <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mt-5">
                            <p class="mb-0"><img src="assets/img/top_icon_123.svg" class="me-1" alt="">12% User read this week</p>
                            <button class="ct_green_btns">Buy</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 mb-4">
                <div class="ct_book_card_bg_12">
                    <div class="ct_book_icon">
                        <img src="assets/img/book_4.png" alt="">
                    </div>
                    <div class="ct_book_card_title">
                       <div class="d-flex align-items-center justify-content-between">
                        <h4>Book Lorem ipsum</h4>
                        <h4>$3</h4>
                       </div>
                        <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mt-5">
                            <p class="mb-0"><img src="assets/img/top_icon_123.svg" class="me-1" alt="">12% User read this week</p>
                            <button class="ct_green_btns">Buy</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 mb-4">
                <div class="ct_book_card_bg_12">
                    <div class="ct_book_icon">
                        <img src="assets/img/book_2.png" alt="">
                    </div>
                    <div class="ct_book_card_title">
                       <div class="d-flex align-items-center justify-content-between">
                        <h4>Book Lorem ipsum</h4>
                        <h4>$3</h4>
                       </div>
                        <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mt-5">
                            <p class="mb-0"><img src="assets/img/top_icon_123.svg" class="me-1" alt="">12% User read this week</p>
                            <button class="ct_green_btns">Buy</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 mb-4">
                <div class="ct_book_card_bg_12">
                    <div class="ct_book_icon">
                        <img src="assets/img/book_3.png" alt="">
                    </div>
                    <div class="ct_book_card_title">
                       <div class="d-flex align-items-center justify-content-between">
                        <h4>Book Lorem ipsum</h4>
                        <h4>$3</h4>
                       </div>
                        <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mt-5">
                            <p class="mb-0"><img src="assets/img/top_icon_123.svg" class="me-1" alt="">12% User read this week</p>
                            <button class="ct_green_btns">Buy</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 mb-4">
                <div class="ct_book_card_bg_12">
                    <div class="ct_book_icon">
                        <img src="assets/img/book_4.png" alt="">
                    </div>
                    <div class="ct_book_card_title">
                       <div class="d-flex align-items-center justify-content-between">
                        <h4>Book Lorem ipsum</h4>
                        <h4>$3</h4>
                       </div>
                        <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap mt-5">
                            <p class="mb-0"><img src="assets/img/top_icon_123.svg" class="me-1" alt="">12% User read this week</p>
                            <button class="ct_green_btns">Buy</button>
                        </div>
                    </div>
                </div>  
            </div>


       </div>

    </div>
</div>



<!-- <div class="ct_loader_main">
    <div class="loader"></div>
  </div> -->