<section class="ct_inner_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12"  data-aos="fade-down"
      data-aos-duration="1000">
        <h2 class="ct_fs_60 text-white">
          Calendar <br />
          /School Events
        </h2>
      </div>
    </div>
  </div>
</section>
<div class="ct_vision_mission ct_admission_process_bg ">

   
  <section class="py-5">
    <div class="container-fluid ct_px_140">
      <div class="row">
        <div class="col-md-12"  data-aos="fade-down"
        data-aos-duration="1000">
          <span class="ct_fs_18 ct_fw_600 d-block text-center ct_orange_text"
            >Upcoming events</span
          >
          <h2 class="ct_fs_46 ct_fw_600 text-center">
            Our Calendar Upcoming School Events
          </h2>
        </div>
      </div>
      <div class="row ct_pt_60">
        <div class="col-lg-6 mb-4"  data-aos="fade-right"
        data-aos-duration="1000">
          <div class="ct_event_card">
              <span class="ct_event_date">11 Feb</span>
            <div class="ct_event_img">
              <img src="assets/img/event_1.png" alt="" />
            </div>
            <div class="ct_event_title">
              <h4 class="ct_fs_24 ct_fw_600">Teacher vs. Student Day</h4>
              <p class="mb-0">Feb 11 &#64; 6:00 am - Feb 13 &#64; 8:00 pm</p>
              <p class="mb-0">Community Service Event, Australia</p>

              <div class="mt-3">
                <a
                  routerLink="/eventsDetail"
                  class="ct_orange_btn ct_ff_Rowdies ct_btn_h_40 px-3 ct_fs_14 ct_fw_300"
                  >View Events <img src="assets/img/right_arrow.svg" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4"  data-aos="fade-left"
        data-aos-duration="1000">
          <div class="ct_event_card">
              <span class="ct_event_date">11 Feb</span>
            <div class="ct_event_img">
              <img src="assets/img/event_2.png" alt="" />
            </div>
            <div class="ct_event_title">
              <h4 class="ct_fs_24 ct_fw_600">Community Get Together</h4>
              <p class="mb-0">Feb 11 &#64; 6:00 am - Feb 13 &#64; 8:00 pm</p>
              <p class="mb-0">Community Service Event, Australia</p>

              <div class="mt-3">
                <a
                  routerLink="/eventsDetail"
                  class="ct_orange_btn ct_ff_Rowdies ct_btn_h_40 px-3 ct_fs_14 ct_fw_300"
                  >View Events <img src="assets/img/right_arrow.svg" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4"  data-aos="fade-right"
        data-aos-duration="1000">
          <div class="ct_event_card">
              <span class="ct_event_date">11 Feb</span>
            <div class="ct_event_img">
              <img src="assets/img/event_3.png" alt="" />
            </div>
            <div class="ct_event_title">
              <h4 class="ct_fs_24 ct_fw_600">Winter Feast Family Event</h4>
              <p class="mb-0">Feb 11 &#64; 6:00 am - Feb 13 &#64; 8:00 pm</p>
              <p class="mb-0">Community Service Event, Australia</p>

              <div class="mt-3">
                <a
                  routerLink="/eventsDetail"
                  class="ct_orange_btn ct_ff_Rowdies ct_btn_h_40 px-3 ct_fs_14 ct_fw_300"
                  >View Events <img src="assets/img/right_arrow.svg" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4"  data-aos="fade-left"
        data-aos-duration="1000">
          <div class="ct_event_card">
              <span class="ct_event_date">11 Feb</span>
            <div class="ct_event_img">
              <img src="assets/img/event_4.png" alt="" />
            </div>
            <div class="ct_event_title">
              <h4 class="ct_fs_24 ct_fw_600">Family Night Event</h4>
              <p class="mb-0">Feb 11 &#64; 6:00 am - Feb 13 &#64; 8:00 pm</p>
              <p class="mb-0">Community Service Event, Australia</p>

              <div class="mt-3">
                <a
                  routerLink="/eventsDetail"
                  class="ct_orange_btn ct_ff_Rowdies ct_btn_h_40 px-3 ct_fs_14 ct_fw_300"
                  >View Events <img src="assets/img/right_arrow.svg" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4"  data-aos="fade-right"
        data-aos-duration="1000">
          <div class="ct_event_card">
              <span class="ct_event_date">11 Feb</span>
            <div class="ct_event_img">
              <img src="assets/img/event_5.png" alt="" />
            </div>
            <div class="ct_event_title">
              <h4 class="ct_fs_24 ct_fw_600">Game Day Event</h4>
              <p class="mb-0">Feb 11 &#64; 6:00 am - Feb 13 &#64; 8:00 pm</p>
              <p class="mb-0">Community Service Event, Australia</p>

              <div class="mt-3">
                <a
                  routerLink="/eventsDetail"
                  class="ct_orange_btn ct_ff_Rowdies ct_btn_h_40 px-3 ct_fs_14 ct_fw_300"
                  >View Events <img src="assets/img/right_arrow.svg" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4"  data-aos="fade-left"
        data-aos-duration="1000">
          <div class="ct_event_card">
              <span class="ct_event_date">11 Feb</span>
            <div class="ct_event_img">
              <img src="assets/img/event_6.png" alt="" />
            </div>
            <div class="ct_event_title">
              <h4 class="ct_fs_24 ct_fw_600">Earth Day Party</h4>
              <p class="mb-0">Feb 11 &#64; 6:00 am - Feb 13 &#64; 8:00 pm</p>
              <p class="mb-0">Community Service Event, Australia</p>

              <div class="mt-3">
                <a
                  routerLink="/eventsDetail"
                  class="ct_orange_btn ct_ff_Rowdies ct_btn_h_40 px-3 ct_fs_14 ct_fw_300"
                  >View Events <img src="assets/img/right_arrow.svg" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4"  data-aos="fade-right"
        data-aos-duration="1000">
          <div class="ct_event_card">
              <span class="ct_event_date">11 Feb</span>
            <div class="ct_event_img">
              <img src="assets/img/event_7.png" alt="" />
            </div>
            <div class="ct_event_title">
              <h4 class="ct_fs_24 ct_fw_600">Family Night Party </h4>
              <p class="mb-0">Feb 11 &#64; 6:00 am - Feb 13 &#64; 8:00 pm</p>
              <p class="mb-0">Community Service Event, Australia</p>

              <div class="mt-3">
                <a
                  routerLink="/eventsDetail"
                  class="ct_orange_btn ct_ff_Rowdies ct_btn_h_40 px-3 ct_fs_14 ct_fw_300"
                  >View Events <img src="assets/img/right_arrow.svg" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4"  data-aos="fade-left"
        data-aos-duration="1000">
          <div class="ct_event_card">
              <span class="ct_event_date">11 Feb</span>
            <div class="ct_event_img">
              <img src="assets/img/event_8.png" alt="" />
            </div>
            <div class="ct_event_title">
              <h4 class="ct_fs_24 ct_fw_600">Drama Production Event</h4>
              <p class="mb-0">Feb 11 &#64; 6:00 am - Feb 13 &#64; 8:00 pm</p>
              <p class="mb-0">Community Service Event, Australia</p>

              <div class="mt-3">
                <a
                  routerLink="/eventsDetail"
                  class="ct_orange_btn ct_ff_Rowdies ct_btn_h_40 px-3 ct_fs_14 ct_fw_300"
                  >View Events <img src="assets/img/right_arrow.svg" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </section>

  <section class="ct_upcomming_course_bg">
      <div class="container-fluid ct_px_140">
          <div class="row">
              <div class="col-md-12"  data-aos="fade-down"
              data-aos-duration="1000">
                  <span class="ct_fs_18">New Cources</span>
                  <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap">
                      <div>
                          <h3 class="ct_fs_46">Upcoming Latest Courses</h3>
                      </div>
                      <div>
                          <a
                          href="#"
                          class="ct_orange_btn ct_brown_btn ct_ff_Rowdies px-3 ct_fs_14 ct_fw_300"
                          >View All Courses <img src="assets/img/right_arrow.svg" alt=""
                        /></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="container-fluid pt-5">
          <div class="row">
              <div class="col-lg-4 mb-4 mb-lg-0"  data-aos="fade-right"
              data-aos-duration="1000">
                  <div class="ct_upcomming_latest_card">
                      <figure>
                          <div class="ct_upcomming_latest_img">
                              <img src="assets/img/latest_course_1.png" alt="">
                          </div>
                          <figcaption>
                              <h4 class="mb-0 ct_fs_24">Math League</h4>
                          </figcaption>
                      </figure>
                  </div>
              </div>
              <div class="col-lg-4 mb-4 mb-lg-0"  data-aos="fade-up"
              data-aos-duration="1000">
                  <div class="ct_upcomming_latest_card">
                      <figure>
                          <div class="ct_upcomming_latest_img">
                              <img src="assets/img/latest_course_2.png" alt="">
                          </div>
                          <figcaption>
                              <h4 class="mb-0 ct_fs_24">Orchestra Player</h4>
                          </figcaption>
                      </figure>
                  </div>
              </div>
              <div class="col-lg-4 mb-4 mb-lg-0"  data-aos="fade-left"
              data-aos-duration="1000">
                  <div class="ct_upcomming_latest_card">
                      <figure>
                          <div class="ct_upcomming_latest_img">
                              <img src="assets/img/latest_course_3.png" alt="">
                          </div>
                          <figcaption>
                              <h4 class="mb-0 ct_fs_24">Engineering Class</h4>
                          </figcaption>
                      </figure>
                  </div>
              </div>

          </div>

      </div>
  </section>

  <section class="ct_py_60 mt-5 pb-0">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12"  data-aos="fade-down"
              data-aos-duration="1000">
                  <h2 class="ct_fs_46 ct_fw_600 text-center">Calendar</h2>
                  <p class="mb-0 text-center">Augue ut lectus arcu bibendum. adipiscing tristique. Velit aliquet sagittis <br>
                    id Curabitur vitae nunc sed velit dignissim sodales ut.</p>
              </div>
              <div class="col-md-12 mt-5"  data-aos="fade-up"
              data-aos-duration="1000">
                <div class="owl-carousel owl-theme ct_calender_slider">
                  <div class="item">
                    <div class="ct_free_touch_card" style="background-color: #E96B3B;">
                      <div class="ct_calender_img">
                          <img src="assets/img/Calendar_1.png" alt="">
                      </div>
                  </div>
                  </div>
                  <div class="item">
                    <div class="ct_free_touch_card" style="background-color: #F8AD12;">
                      <div class="ct_calender_img">
                          <img src="assets/img/Calendar_2.png" alt="">
                      </div>
                  </div>
                  </div>
                  <div class="item">
                    <div class="ct_free_touch_card" style="background-color: #88B520;">
                      <div class="ct_calender_img">
                          <img src="assets/img/Calendar_3.png" alt="">
                      </div>
                  </div>
                  </div>
                  <div class="item">
                    <div class="ct_free_touch_card" style="background-color: #F96EA0;">
                      <div class="ct_calender_img">
                          <img src="assets/img/Calendar_4.png" alt="">
                      </div>
                  </div>
                  </div>
                  <div class="item">
                    <div class="ct_free_touch_card" style="background-color: #E96B3B;">
                      <div class="ct_calender_img">
                          <img src="assets/img/Calendar_1.png" alt="">
                      </div>
                  </div>
                  </div>
                  <div class="item">
                    <div class="ct_free_touch_card" style="background-color: #F8AD12;">
                      <div class="ct_calender_img">
                          <img src="assets/img/Calendar_2.png" alt="">
                      </div>
                  </div>
                  </div>
                  <div class="item">
                    <div class="ct_free_touch_card" style="background-color: #88B520;">
                      <div class="ct_calender_img">
                          <img src="assets/img/Calendar_3.png" alt="">
                      </div>
                  </div>
                  </div>
                  <div class="item">
                    <div class="ct_free_touch_card" style="background-color: #F96EA0;">
                      <div class="ct_calender_img">
                          <img src="assets/img/Calendar_4.png" alt="">
                      </div>
                  </div>
                  </div>
                </div>
            </div>

          </div>
      </div>
  </section>
</div>